@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*
============================================
=> GENERAL
============================================
*/
html,
body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 300 !important;
}

#container {
  width: 100%;
  color: #eee;
  margin: 0 auto;
  padding: 10px 0 40px;
  background: url("../imagenes/bg-min.jpeg") no-repeat;
  background-size: cover;
}

#container h1 {
  text-align: center;
  text-shadow: 1px 1px 4px black;
  font-size: 38pt;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #000000b3;
  color: white;
  padding: 20px 0;
  margin-bottom: 30px;
}

#container #countdown_dashboard {
  height: 96px;
  width: 770px;
  padding: 0 0 40px 0;
  margin: 0 auto;
  background: #000000bf;
}

#container #countdown_dashboard .dash {
  background: transparent url("../imagenes/tiempo.png") 0 0 no-repeat;
  width: 138px;
  height: 123px;
  float: left;
  margin-left: 2px;
  padding-left: 13px;
  position: relative;
  color: black;
}

#container #countdown_dashboard .dash .digit {
  font: bold 52pt Verdana;
  font-weight: bold;
  float: left;
  width: 59px;
  text-align: center;
  position: relative;
}

#container #countdown_dashboard .dash .dash_title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 0.9em;
  margin: 0 0 0;
  position: absolute;
  top: 100px;
  z-index: 9999;
  width: 100%;
  left: 0;
  letter-spacing: 0.05em;
  text-align: center;
}

@media (max-width: 770px) {
  #container {
    margin: 10px auto;
  }

  #container h1 {
    font-size: 2em;
    width: 90%;
    margin: 0 auto;
  }

  #container #countdown_dashboard {
    width: 90%;
    height: auto;
    display: block;
    position: relative;
  }

  #container #countdown_dashboard .dash {
    display: inline-block;
    float: none;
  }
}