@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*
============================================
=> GENERAL
============================================
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 300 !important;
}

/*
============================================
=> GENERAL
============================================
*/
html,
body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 300 !important;
}

div#resumen {
  position: relative;
  width: 1200px;
  margin: 20px auto 0;
}

div#resumen > div.fecha {
  height: 30px;
  margin-bottom: 10px;
}

div#resumen > div.fecha > span.raya {
  position: absolute;
  z-index: 0;
  height: 1px;
  background: #cccccc;
  width: 100%;
  display: block;
  top: 15px;
}

div#resumen > div.fecha > p {
  position: absolute;
  z-index: 1;
  background: whitesmoke;
  color: black;
  padding: 6px 10px;
  display: inline-block;
  top: 0;
  margin: 0 0 0 20px;
  font-weight: 500;
}

div#resumen .resumen {
  width: 305px;
  min-height: 90px;
  background: white;
  display: inline-block;
  padding: 20px 60px 20px 20px;
  margin: 0 10px 10px 0;
  position: relative;
}

div#resumen .resumen > div.icono {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  background: #3d2637;
}

div#resumen .resumen > div.icono > img {
  margin: 8px auto 0;
  display: block;
  padding-top: 7px;
  width: 50px;
}

div#resumen .resumen > p.titulo {
  color: black;
  font-weight: 500;
  width: 100%;
  position: relative;
  top: 0px;
  left: 90px;
  margin: 0;
  font-size: 1.1em;
  display: inline-block;
}

div#resumen .resumen > div.cifras {
  position: relative;
  top: 10px;
  left: 90px;
  display: inline-block;
}

div#resumen .resumen > div.cifras > span.numero {
  margin: 0;
  color: black;
  font-weight: 500;
  font-size: 2.9em;
}

div#resumen .resumen > div.cifras > span.numero > img,
div#resumen .resumen.sintomas > div.sintoma > p > strong > img {
  width: 50px;
}

div#resumen .resumen > div.cifras > span.numero > span.estado {
  width: 19px;
  height: 19px;
  display: block;
  position: absolute;
  top: 20px;
  right: -25px;
  background-size: 0.4em;
}

div#resumen .resumen > div.cifras.positivo > span.numero > span.estado {
  background-image: url("../imagenes/resumen/positivo.png");
}

div#resumen .resumen > div.cifras.negativo > span.numero > span.estado {
  background-image: url("../imagenes/resumen/negativo.png");
}

div#resumen .resumen > div.cifras > span.numero > span.porcentaje {
  font-size: 0.3em;
  font-weight: 500;
  position: absolute;
  top: 20px;
  text-align: left;
  width: 80px;
  right: -110px;
}

div#resumen .resumen > div.cifras.positivo > span.numero > span.porcentaje {
  color: #34c736;
}

div#resumen .resumen > div.cifras.negativo > span.numero > span.porcentaje {
  color: #f02c2c;
}

div#resumen .resumen > div.cifras.positivo > span.numero > span.porcentaje:before {
  content: "(+";
}

div#resumen .resumen > div.cifras.negativo > span.numero > span.porcentaje:before {
  content: "(";
}

div#resumen .resumen.sintomas > div.sintoma {
  width: calc( 100% - 95px );
  display: block;
  margin-left: 95px;
  margin-top: -10px;
  position: relative;
  top: 20px;
}

div#resumen .resumen.sintomas > div.sintoma > p {
  margin: 0;
  width: 44%;
  display: inline-block;
}

div#resumen .resumen.sintomas > div.sintoma > p.conSintomas {
  border-right: 1px dashed #dbd2fe;
  padding-right: 10px;
  margin-right: 10px;
}

div#resumen .resumen.sintomas > div.sintoma > p > strong {
  font-size: 2.3em;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}

div#resumen .resumen.sintomas > div.sintoma > p > span {
  color: #886cfe;
  font-weight: 300;
  font-size: 0.9em;
  text-align: center;
  width: 100%;
  display: inline-block;
}

/* COLORES */
div#resumen .resumen.totalCasos > div.icono {
  background: #cde7ff;
}

div#resumen .resumen.casosNuevos > div.icono {
  background: #ffeab4;
}

div#resumen .resumen.casosActivos > div.icono,
div#resumen .resumen.sintomas > div.icono {
  background: #dbd2fe;
}

div#resumen .resumen.fallecidosTotal > div.icono,
div#resumen .resumen.fallecidosDia > div.icono {
  background: #ef9aa2;
}

div#resumen .resumen.recuperadosTotal > div.icono,
div#resumen .resumen.recuperadosDia > div.icono {
  background: #d8f3d8;
}

div#resumen .resumen.ventiladoresDisponibles > div.icono {
  background: #dd447759;
}

div#resumen .resumen.examenesPCR > div.icono {
  background: #0099c659;
}

div#resumen .resumen.totalCasos > p.titulo {
  color: #1c7fdd;
}

div#resumen .resumen.casosNuevos > p.titulo {
  color: #ffbd02;
}

div#resumen .resumen.casosActivos > p.titulo,
div#resumen .resumen.sintomas > p.titulo {
  color: #886cfe;
}

div#resumen .resumen.fallecidosTotal > p.titulo,
div#resumen .resumen.fallecidosDia > p.titulo {
  color: #c12f32;
}

div#resumen .resumen.recuperadosTotal > p.titulo,
div#resumen .resumen.recuperadosDia > p.titulo {
  color: #34c736;
}

div#resumen .resumen.ventiladoresDisponibles > p.titulo {
  color: #dd4477;
}

div#resumen .resumen.examenesPCR > p.titulo {
  color: #0099c6;
}

@media (max-width: 1200px) {
  div#resumen {
    width: 790px;
  }
}
@media (max-width: 769px) {
  div#resumen {
    width: 100%;
  }

  div#resumen .resumen {
    width: 260px;
    min-height: 70px;
    margin: 0 auto 10px;
    padding: 20px 20px 35px 20px;
    display: block;
  }

  div#resumen .resumen > p.titulo {
    width: auto;
    font-size: 0.8em;
  }

  div#resumen .resumen > div.cifras {
    display: table;
  }

  div#resumen .resumen > div.cifras > span.numero {
    font-size: 2.4em;
  }

  div#resumen .resumen > div.cifras > span.numero > span.estado {
    width: 20px;
    height: 20px;
    top: 40px;
    right: inherit;
    left: 0;
    background-size: 0.52em;
  }

  div#resumen .resumen > div.cifras > span.numero > span.porcentaje {
    right: auto;
    left: 24px;
    top: 45px;
  }

  div#resumen .resumen.sintomas > div.sintoma > p {
    width: 90%;
  }

  div#resumen .resumen.sintomas > div.sintoma > p.conSintomas {
    padding: 0;
    margin-bottom: 10px;
    border: none;
  }

  div#resumen .resumen.sintomas > div.sintoma > p > strong,
div#resumen .resumen.sintomas > div.sintoma > p > span {
    text-align: left;
  }
}
/*
============================================
=> GENERAL
============================================
*/
html,
body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 300 !important;
}

header {
  position: relative;
  background: black;
  margin: 0;
  padding: 10px 0;
  height: 40px;
  z-index: 3;
}

header h1 {
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
  width: 100%;
  margin: 0;
}

header .menuIcon {
  width: 50px;
  height: 60px;
  position: relative;
  top: -10px;
  cursor: pointer;
}

header .menuIcon > span {
  height: 4px;
  width: 40px;
  background: white;
  position: absolute;
  right: 0px;
  top: 15px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .menuIcon:hover > span {
  background: cyan;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .menuIcon > span.medio {
  top: 28px;
}

header .menuIcon > span.abajo {
  top: 41px;
}

header .menuIcon.activo > span.arriba {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

header .menuIcon.activo > span.medio {
  display: none;
}

header .menuIcon.activo > span.abajo {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

header .menuIcon.activo > span.arriba,
header .menuIcon.activo > span.abajo {
  top: 30px;
  background: cyan;
}

header nav {
  display: none;
}

header nav.activo {
  display: block;
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  background: black;
  width: 230px;
  position: absolute;
  top: 60px;
}

header nav ul {
  text-decoration: none;
  padding-left: 0;
  margin: 0;
}

header nav ul li {
  text-decoration: none;
  list-style: none;
}

header nav ul li.activo {
  border-left: 1px solid cyan;
}

header nav ul li:hover a,
header nav ul li.activo > a {
  color: cyan;
}

header nav ul li.activo > a img {
  opacity: 0.5;
}

header nav ul li a {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 100;
  letter-spacing: 0.05em;
  font-size: 1.3em;
  display: block;
  padding-left: 20px;
}

header nav ul li a img {
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a p {
  display: inline-block;
}

div.fondoNav {
  display: none;
}

div.fondoNav.activo {
  display: block;
  background: #000000d1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@media (max-width: 768px) {
  header .menuIcon {
    float: right;
  }

  header nav.activo {
    right: 0;
  }
}
/*
============================================
=> GENERAL
============================================
*/
html,
body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 300 !important;
}

.graficos {
  padding: 40px 0 100px;
  width: 80%;
  margin: 0 auto;
}

.graficos .grafico {
  width: 95%;
  height: 400px;
  margin: 0 1% 1% 0;
  display: inline-block;
  -webkit-box-shadow: 1px 13px 26px -33px black;
          box-shadow: 1px 13px 26px -33px black;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.graficos .grafico:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.graficos .tabs {
  position: relative;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.graficos .tabs .tab {
  top: 0;
  position: relative;
}

.graficos .tabs .tab > div {
  top: 0;
  left: 0;
  width: 100%;
}

.graficos .tabs .tab > p {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  background: #efefef;
  top: -55px;
  padding: 10px 15px;
}

.graficos .tabs .tab > p:hover,
.graficos .tabs .tab > p.activo {
  background: white;
}

.graficos .tabs .tab > p.activo {
  font-weight: bold;
}

.graficos .tabs .tab:nth-child(2) > p {
  margin-left: 160px;
}

.graficos .tabs .tab:nth-child(3) > p {
  margin-left: 340px;
}

/*
================================
=> CONTAGIOS POR REGION
================================
*/
.grafico#contagiosPorRegion-grafico {
  background: white;
  padding-bottom: 140px;
}

.grafico#contagiosPorRegion-grafico > h1 {
  padding-top: 20px;
  text-align: center;
  margin: 0;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.grafico#contagiosPorRegion-grafico > h2,
.grafico#contagiosPorRegion-grafico > p {
  font-size: 0.9em;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.grafico#contagiosPorRegion-grafico > h2 span,
.grafico#contagiosPorRegion-grafico > p span {
  font-weight: 600;
}

.grafico#contagiosPorRegion-grafico > form > input {
  margin: 10px auto 0;
  display: block;
  padding: 7px 10px;
  width: 250px;
}

.grafico#contagiosPorRegion-grafico > div {
  height: 98%;
  overflow-y: scroll;
  margin-top: 20px;
}

.grafico#contagiosPorRegion-grafico > div > table {
  margin: 20px auto 0;
  border: none;
}

.grafico#contagiosPorRegion-grafico > div > table thead tr td {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-left: 10px;
}

.grafico#contagiosPorRegion-grafico > div > table tbody tr {
  height: 30px;
}

.grafico#contagiosPorRegion-grafico > div > table tbody tr:hover,
.grafico#contagiosPorRegion-grafico > div > table tbody tr:nth-child(odd) {
  background: #efefef94;
}

.grafico#contagiosPorRegion-grafico > div > table tbody tr td {
  border: none;
  text-align: left;
  padding: 0 0 0 10px;
}

.grafico#contagiosPorRegion-grafico > div > table tbody tr.hide {
  display: none;
}

.grafico#contagiosPorRegion-grafico > div > table tbody tr.show {
  display: table-row;
}

/*
================================
=> CONTAGIOS POR REGION
================================
*/
.grafico#casosGeneroEtario-grafico {
  background: white;
}

.grafico#casosGeneroEtario-grafico > div {
  display: inline-block;
}

.grafico#casosGeneroEtario-grafico > div > ul > li {
  display: none;
  height: 30px;
}

.grafico#casosGeneroEtario-grafico > div.femenino > ul > li:nth-child(-n+17) {
  display: block;
}

.grafico#casosGeneroEtario-grafico > div.masculino > ul > li:nth-child(n+18) {
  display: block;
}

@media (max-width: 768px) {
  .graficos > #casosTotales,
.graficos .grafico {
    width: 96% !important;
    display: block;
    margin: 0 auto;
  }

  .graficos {
    width: 100%;
  }

  .graficos .tabs {
    margin-top: 70px;
  }

  .graficos .tabs .tab > div {
    width: 96%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .graficos .tabs .tab > p {
    font-size: 0.8em;
    width: 70px;
    text-align: center;
    top: -63px;
    padding: 10px 10px;
  }

  .graficos .tabs .tab:nth-child(1) > p {
    margin-left: 15px;
  }

  .graficos .tabs .tab:nth-child(2) > p {
    margin-left: 108px;
  }

  .graficos .tabs .tab:nth-child(3) > p {
    margin-left: 200px;
  }
}
/*
============================================
=> GENERAL
============================================
*/
html,
body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 300 !important;
}

#extraeData {
  width: 80%;
  margin: 20px auto 60px;
  font-family: "Roboto", sans-serif;
  position: relative;
  display: none;
}

body.dev #extraeData {
  display: block;
}

#extraeData > select {
  height: 40px;
  position: relative;
  top: -1px;
  margin-right: 10px;
  cursor: pointer;
  padding: 0 10px;
}

#extraeData > select > option {
  cursor: pointer;
}

#extraeData > button {
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 40px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

#extraeData > textarea {
  width: 100%;
  height: 150px;
}

table {
  width: 80%;
  background: white;
  border: 1px solid #ccc;
  margin: 60px auto 0;
  font-family: "Roboto", sans-serif;
}

table thead.tituloGrande tr {
  background: whitesmoke;
}

table tbody tr:hover {
  background: #ccc;
}

table tbody tr td {
  border: 1px solid #ccc;
  color: black;
}

table thead.tituloGrande td {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  padding: 10px 0;
  border: 1px solid #ccc;
}

table thead.tituloChico tr td {
  font-weight: 600;
  text-align: center;
}

table tbody tr td {
  text-align: center;
}

.ilustracionHeader {
  height: 155px;
  width: 100%;
  background: #3d2637;
  position: relative;
  overflow: hidden;
  top: -10px;
}

.ilustracionHeader > span {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  width: 100%;
  display: block;
  color: white;
  font-size: 3em;
  line-height: 3em;
  position: absolute;
  z-index: 1;
  text-shadow: 0px 0px 18px #3d2637;
}

.ilustracionHeader > img {
  position: absolute;
}

.ilustracionHeader > img.left {
  left: 0px;
}

.ilustracionHeader > img.right {
  right: 0px;
}

@media (max-width: 600px) {
  .ilustracionHeader > img.right {
    display: none;
  }
}