
style.
	canvas#barChartCasosActivosPorDia {
		display: block !important;
		margin: 0 auto;
		background: white;
	}
	
canvas#barChartCasosActivosPorDia

script.
	var ctx = document.getElementById("barChartCasosActivosPorDia");
	var barChartCasosActivosPorDia = new Chart(ctx, {
		type: 'bar',
		responsive: true,
		data: {
			labels: [ "test 3" , "test 4" ],
			datasets: [{
				backgroundColor: 'transparent',
				//- label: "test 1",
				label: "",
				data: []
			}]
		}
	});
	
	setTimeout(function() {
		console.log( "Agregando ..." );
		
		var casosActivosPorDia = [];
		$.each( $( $( "#TotalesNacionales tr" )[5] ).find( "td" ) , function(){
			let valor = $( this ).text();
			casosActivosPorDia.push( valor );
		});
		
		var dataDATOS = [];
		$.each( $( $( "#TotalesNacionales table tbody tr" )[0] ).find( "th" ) , function(){
			var fecha = $( this ).html();
			dataDATOS.push( fecha );
		});
	
		barChartCasosActivosPorDia.data.labels = dataDATOS;
		barChartCasosActivosPorDia.data.datasets[0].data = casosActivosPorDia;
		barChartCasosActivosPorDia.data.datasets[0].backgroundColor = "#ff5a00";
		barChartCasosActivosPorDia.update();
	}, 3000);	