

div.grafico#TotalesNacionales-grafico( style='width: 100%; height: 500px;' )
	
script.
	traeCovid( "#TotalesNacionales" , "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto5/TotalesNacionales.csv" );

script.
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var datosTotales = google.visualization.arrayToDataTable([
			['Fecha', 'Contagios (Total)', 'Recuperados (Total)', 'Fallecidos (Total)'],
			['0',  0,      0,      0],
		]);

		var options = {
			title: 'Casos Totales',
			vAxis: {title: 'Casos'},
			hAxis: {title: 'Días'},
			legend: { position: 'top', maxLines: 3 }
		};

		var chart = new google.visualization.AreaChart(document.getElementById('TotalesNacionales-grafico'));
		chart.draw(datosTotales, options);

			for ( sumaTR = 1 ; sumaTR <= $( $( "#TotalesNacionales table tr" )[2] ).find( "td" ).length-1 ; sumaTR++  ) {
			
				var fecha 						= $( $( $( "#TotalesNacionales table tr" )[0] ).find( "th" )[sumaTR] ).html();
				var casosTotales				= $( $( $( "#TotalesNacionales table tr" )[2] ).find( "td" )[sumaTR] ).html();
				var recuperadosTotales	= $( $( $( "#TotalesNacionales table tr" )[3] ).find( "td" )[sumaTR] ).html();
				var fallecidosTotales		= $( $( $( "#TotalesNacionales table tr" )[4] ).find( "td" )[sumaTR] ).html();

				var push_todosTotales 	= '[["' + fecha + '",' + casosTotales + ', ' + recuperadosTotales + ', ' + fallecidosTotales + ']]';
				datosTotales.addRows(JSON.parse(push_todosTotales));

			}

			var chart = new google.visualization.AreaChart(document.getElementById('TotalesNacionales-grafico'));
			chart.draw(datosTotales, options);

	}
