

div.grafico#TotalesNacionales-grafico( style='width: 100%; height: 500px;' )
	
script.
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var datosTotales = google.visualization.arrayToDataTable([
			['Fecha', 'Contagios (Total)', 'Casos Activos (Día)', 'Fallecidos (Total)'],
			['0',  0,  0,  0],
		]);

		var options = {
			title: 'Casos Totales (Tabla Acumulada)',
			vAxis: {title: 'Casos'},
			hAxis: {title: 'Días'},
			colors: ['#36c', '#886cfe', '#c12f32'],
			legend: { position: 'top', maxLines: 3 }
		};

		var chart = new google.visualization.AreaChart(document.getElementById('TotalesNacionales-grafico'));
		chart.draw(datosTotales, options);

			for ( sumaTR = 1 ; sumaTR <= $( $( "#TotalesNacionales table tr" )[2] ).find( "td" ).length-1 ; sumaTR++  ) {
			
				var fecha 				= $( $( $( "#TotalesNacionales table tr" )[0] ).find( "th" )[sumaTR] ).html();
			
				var casosTotales		= $( $( $( "#TotalesNacionales table tr" )[2] ).find( "td" )[sumaTR] ).html();
			
				var casosActivosDia	= $( $( $( "#TotalesNacionales table tr" )[5] ).find( "td" )[sumaTR] ).html();
			
				var fallecidosTotales		= $( $( $( "#TotalesNacionales table tr" )[4] ).find( "td" )[sumaTR] ).html();
				if ( fallecidosTotales.split( "" ).length < 1 ) {
					var fallecidosTotales = 0;
				};

				var push_todosTotales 	= '[["' + fecha + '",' + casosTotales + ', ' + casosActivosDia + ', ' + fallecidosTotales + ']]';
				datosTotales.addRows(JSON.parse(push_todosTotales));

			}

			var chart = new google.visualization.AreaChart(document.getElementById('TotalesNacionales-grafico'));
			chart.draw(datosTotales, options);

	}
