
//- https://github.com/MinCiencia/Datos-COVID19/blob/master/output/producto18/TasaDeIncidencia.csv

div.grafico#contagiosPorRegion(style='display:none;')
div.grafico#contagiosPorRegion-grafico( style='width: 100%; height: 500px;' )
	h1 Contagios Por Región
	h2
	p
	table
		thead
			tr
				td Comuna
				td Población
				td Contagios
		tbody

style.
	.grafico#contagiosPorRegion-grafico {
		background: white;
		padding: 20px;
	}
	.grafico#contagiosPorRegion-grafico > * {
		text-align: center;
	}
script.
	traeCovid( "#contagiosPorRegion" , "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto25/CasosActualesPorComuna.csv" );

//- INGRESA DATA
script.
	$( document ).ready(function(){

		setTimeout(function(){

			for ( sumaTR = 1 ; sumaTR <= $( "#contagiosPorRegion table" ).find( "tr" ).length-2 ; sumaTR++  ) {

				var contagiosRegion 	= $( $( "#contagiosPorRegion table" ).find( "tr" )[sumaTR] ).find( "td" ).last().html();
				var cantPoblacion 		= $( $( $( "#contagiosPorRegion table" ).find( "tr" )[sumaTR] ).find( "td" )[4] ).first().html();
				var nombreComuna 	= $( $( $( "#contagiosPorRegion table" ).find( "tr" )[sumaTR] ).find( "td" )[2] ).first().html();
				/*
				console.log( "Comuna: " + nombreComuna + " Población: " + cantPoblacion + " Último Dato: " + contagiosRegion );
				*/


		
				$( ".grafico#contagiosPorRegion-grafico table tbody" ).append( "" +
					"<tr>" +
						"<td>" + nombreComuna + "</td>" +
						"<td>" + cantPoblacion + "</td>" +
						"<td>" + contagiosRegion + "</td>" +
					"</tr>" +
				"" );

			};

			var cantComunas 			= $( "#contagiosPorRegion table" ).find( "tr" ).length;
			var ultimaActualizacion 	= $( $( "#contagiosPorRegion table tr" )[0] ).find( "th" ).last().html();

			$( ".grafico#contagiosPorRegion-grafico h2" ).html( "Última Actualizacion: " + ultimaActualizacion );
			$( ".grafico#contagiosPorRegion-grafico p" ).html( "Cantidad Comunas: " + cantComunas );
		
		},1000);

	});
