
style( type="text/css" ).
	.grafico[data-grafico="graficoContagiosPorDiaNacional"] {
		width: 2200px !important;
	}
	.grafico[data-grafico="graficoContagiosPorDiaNacional"].fixAncho {
		overflow: scroll !important;
		overflow-y: hidden !important;
		overflow-x: auto;
		width: 100% !important;
	}
	
div.grafico(data-grafico="graficoContagiosPorDiaNacional")( style='width: 100%; height: 710px;' )

	script( type="text/javascript" ).
	
		var data = "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto13/CasosNuevosCumulativo.csv";
	
		Papa.parse( data , {
			download: true,
			complete: function(results) {
			
				const resultado = new Promise( ( resolve , reject ) => {
					results ? resolve( results ) : reject ();
				} );
				
				resultado
					.then( x => {
					
						google.charts.load('current', {'packages':['corechart']});
						google.charts.setOnLoadCallback(casosNuevos);
				
						function casosNuevos() { 
							var dataContagiosDia = google.visualization.arrayToDataTable([
								['Fecha', 'Contagios (Por Día)'],
								['0',  0],
							]);
				
							var options = {
								title : 'Contagios (Por Día)',
								vAxis: {title: 'Casos'},
								hAxis: {title: 'Días'},
								seriesType: 'bars',
								colors: ['#36c'] ,
								legend: { position: 'top', maxLines: 3 },
								series: {5: {type: 'line'}}        
							};
				
							var chart = new google.visualization.ComboChart(document.querySelector('[data-grafico=graficoContagiosPorDiaNacional]'));
							chart.draw(dataContagiosDia, options);
				
							var contadioDiarioFila = x.data[17];
							var fechaFila = x.data[0];
							
							for ( let count = 1; count <= contadioDiarioFila.length-1; count ++ ) {
								let fecha           = fechaFila[count];
								let contadioDiario  = contadioDiarioFila[count];
								var push_todosTotales 	= '[["' + fecha + '",' + contadioDiario + ']]';
								dataContagiosDia.addRows(JSON.parse(push_todosTotales));
							};
				
							var chart = new google.visualization.ComboChart(document.querySelector('[data-grafico=graficoContagiosPorDiaNacional]'));
							chart.draw(dataContagiosDia, options);
				
						}
						
					} )
					.then( x => {
						setTimeout(function(){
							$( "[data-grafico=graficoContagiosPorDiaNacional]" ).addClass( "fixAncho" );
						},1000);
					} )
				
			}
		})
	