
div.grafico#fallecidosDia-grafico( style='width: 100%; height: 500px;' )



	script.
		$( document ).ready(function(){
			setTimeout(function(){
				$( $( "#TotalesNacionales table tbody tr" )[4] ).addClass( "fallecidosTotal" );
				$( "#TotalesNacionales table tbody" ).append( "<tr class='fallecidosDia'><td>Fallecidos Día</td><td>0</td></tr>" );

				// Calcula datos por dia de FALLECIDOS DIA
				$.each( $( "table tbody tr.fallecidosTotal td" ) , function(){
					
					var fallecidosTotal				= parseInt( $( this ).html() );
					var fallecidosTotalSiguiente	= parseInt( $( this ).next().html() );
					
					if( $( this ).next( "td" ).length >= 1 ) {
						$( "tr.fallecidosDia" ).append( "<td>" + parseInt(fallecidosTotalSiguiente - fallecidosTotal) + "</td>" );
					};

				});
				// Quita el "NaN" porque al restar el nombre de la fila x 0 da NaN
				$( $( "tr.fallecidosDia td" )[2] ).remove();
			},2000);
		});



	script.
		setTimeout(function(){
			
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(casosFallecidosNuevos);

			function casosFallecidosNuevos() { 
					var dataFallecidosDia = google.visualization.arrayToDataTable([
						['Fecha', 'Fallecidos (Por Día)'],
						['0',  0],
				]);

				var options = {
				title : 'Fallecidos (Por Día)',
				vAxis: {title: 'Casos'},
				hAxis: {title: 'Días'},
				seriesType: 'bars',
				colors: ['#c12f32'] ,
				legend: { position: 'top', maxLines: 3 },
				series: {5: {type: 'line'}}        };

				var chart = new google.visualization.ComboChart(document.getElementById('fallecidosDia-grafico'));
				chart.draw(dataFallecidosDia, options);
				
				setTimeout(function(){
					for ( sumaTR = 1 ; sumaTR <= $( $( "#TotalesNacionales table tr" )[2] ).find( "td" ).length-1 ; sumaTR++  ) {
						var fecha 				= $( $( $( "#TotalesNacionales table tr" )[0] ).find( "th" )[sumaTR] ).html();
						var fallecidosDia		= $( $( "#TotalesNacionales table tr.fallecidosDia" ).find( "td" )[sumaTR] ).html();
						var push_todosTotales 	= '[["' + fecha + '",' + fallecidosDia + ']]';
						dataFallecidosDia.addRows(JSON.parse(push_todosTotales));
					}
					var chart = new google.visualization.ComboChart(document.getElementById('fallecidosDia-grafico'));
					chart.draw(dataFallecidosDia, options);
				},200);

			}

		},3000);