
style.
	canvas#barChartFallecidosPorDia {
		display: block !important;
		margin: 0 auto;
		background: white;
	}
	
canvas#barChartFallecidosPorDia

script.
	var ctx = document.getElementById("barChartFallecidosPorDia");
	var barChartFallecidosPorDia = new Chart(ctx, {
		type: 'bar',
		responsive: true,
		data: {
			labels: [ "test 3" , "test 4" ],
			datasets: [{
				backgroundColor: 'transparent',
				//- label: "test 1",
				label: "",
				data: []
			}]
		}
	});
	
	setTimeout(function() {
		console.log( "Agregando ..." );
		
		var fallecidosPorDia = [];
		$.each( $( $( "#TotalesNacionales tr" )[5] ).find( "td" ) , function(){
			let valor = $( this ).text();
			fallecidosPorDia.push( valor );
		});
		
		var dataDATOS = [];
		$.each( $( $( "#TotalesNacionales table tbody tr" )[0] ).find( "th" ) , function(){
			var fecha = $( this ).html();
			dataDATOS.push( fecha );
		});
	
		barChartFallecidosPorDia.data.labels = dataDATOS;
		barChartFallecidosPorDia.data.datasets[0].data = fallecidosPorDia;
		barChartFallecidosPorDia.data.datasets[0].backgroundColor = "#ff5a00";
		barChartFallecidosPorDia.update();
	}, 3000);	