
div.grafico#pcrPorRegion(style='display:none;height:500px;')
div.grafico#pcrRM-grafico( style='width: 100%; height: 500px;' )
	button.magia Mostrar data
	
//- INGRESA DATA
//- REGION METROPOLITANA
script.
		traeCovid( "#pcrPorRegion" , "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto7/PCR.csv" );
	var pcrRM = function(){
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(pcrMetropolitana);
	
		function pcrMetropolitana() { 
				var dataPcrPorRegion = google.visualization.arrayToDataTable([
					['Fecha' , 'Metropolitana'],
					['0' , 0],
			]);
			
			var options = {
				title : 'PCR: Región Metropolitana (Por Día)',
				vAxis: {title: 'Exámenes'},
				hAxis: {title: 'Días'},
				seriesType: 'bars',
				colors: ['#0099c6'] ,
	
				legend: { position: 'top', maxLines: 3 },
				bar: { groupWidth: '75%' },
				isStacked: true
			};
	
			var chart = new google.visualization.ComboChart(document.getElementById('pcrRM-grafico'));
			chart.draw(dataPcrPorRegion, options);
		
			for ( sumaTR = 3 ; sumaTR <= $( $( "#pcrPorRegion table tr" )[2] ).find( "td" ).length-1 ; sumaTR++  ) {
			
				var fecha					= $( $( $( "#pcrPorRegion table tr" )[0] ).find( "th" )[sumaTR] ).html();
				var metropolitana				= $( $( $( "#pcrPorRegion table tr" )[7] ).find( "td" )[sumaTR] ).html();
				if ( metropolitana == "" ) {
					var metropolitana = "0";
				};
	
				var push_todosTotales 	= '[["' + fecha + '",' + metropolitana + ']]';
				dataPcrPorRegion.addRows(JSON.parse(push_todosTotales));
	
			}
	
			var chart = new google.visualization.ComboChart(document.getElementById('pcrRM-grafico'));
			chart.draw(dataPcrPorRegion, options);
	
		}
	};
	$( "#pcrRM-grafico button.magia" ).click(function(){
		pcrRM();
		$( this ).hide();
	});
