
script( src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" )
div.grafico#ventiladoresCHARTJS(style='display:block;')
div.grafico#ventiladoresCHARTJS-grafico( style='width: 100%; height: 500px;' )
	style.
		canvas#barChart {
			display: block !important;
			margin: 0 auto;
		}
	
	canvas#barChart
	
script.
	traeCovid( "#ventiladoresCHARTJS" , "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/ReporteDiario/NumeroVentiladores.csv" );

script.
	var ctx = document.getElementById("barChart");
	var barChart = new Chart(ctx, {
		type: 'bar',
		responsive: true,
		data: {
			labels: [ "test 3" , "test 4" ],
			datasets: [{
				backgroundColor: 'transparent',
				label: "test 1",
				data: []
			}]
		}
	});
	
	//- function addData(chart, labels, color, data) {
	//- 	chart.data.datasets.push({
	//- 		backgroundColor: color,
	//- 		data: data
	//- 	});
	//- 	chart.update();
	//- }
	
	setTimeout(function() {
		console.log( "Agregando ..." );
	
		var dataDATOS = [];
		$.each( $( $( "#ventiladoresCHARTJS table tbody tr" )[0] ).find( "th" ) , function(){
			var fecha = $( this ).html();
			dataDATOS.push( fecha );
		});
		
		var dataTITULOS = [];
		$.each( $( $( "#ventiladoresCHARTJS table tbody tr" )[2] ).find( "td" ) , function(){
			var valor = $( this ).html();
			dataTITULOS.push( valor );
		});
	
		barChart.data.labels = dataDATOS;
		barChart.data.datasets[0].data = dataTITULOS;
		barChart.data.datasets[0].backgroundColor = "#ff5a00";
		barChart.update();
	}, 3000);	
	setTimeout(function() {
		console.log( "Agregando ..." );
	
		var dataDATOS = [];
		$.each( $( $( "#ventiladoresCHARTJS table tbody tr" )[0] ).find( "th" ) , function(){
			var fecha = $( this ).html();
			dataDATOS.push( fecha );
		});
		
		var dataTITULOS = [];
		$.each( $( $( "#ventiladoresCHARTJS table tbody tr" )[2] ).find( "td" ) , function(){
			var valor = $( this ).html();
			dataTITULOS.push( valor );
		});
	
		barChart.data.labels = dataDATOS;
		barChart.data.datasets[1].data = dataTITULOS;
		barChart.data.datasets[1].label = "test 3";
		barChart.data.datasets[1].backgroundColor = "#000";
		
		
		
		
		
		barChart.update();
	}, 10000);	
