
div.grafico#ventiladores(style='display:none;')
div.grafico#ventiladores-grafico( style='width: 100%; height: 500px;' )
	button.magia Mostrar data
	
//- INGRESA DATA
script.
	traeCovid( "#ventiladores" , "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/ReporteDiario/NumeroVentiladores.csv" );
	var ventiladores = function(){
		try {
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(ventiladores);
	
			function ventiladores() { 
					var dataVentiladoresDia = google.visualization.arrayToDataTable([
						['Fecha', 'Disponibles' , 'Ocupados', 'Total'],
						['0',  0, 0, 0],
				]);
	
				var options = {
					title : 'Ventiladores (Por Día)',
					vAxis: {title: 'Stock'},
					hAxis: {title: 'Días'},
					seriesType: 'bars',
					
					legend: { position: 'top', maxLines: 3 },
					bar: { groupWidth: '75%' },
					isStacked: true
				};
	
				var chart = new google.visualization.ComboChart(document.getElementById('ventiladores-grafico'));
				chart.draw(dataVentiladoresDia, options);
			
				for ( sumaTR = 1 ; sumaTR <= $( $( "#ventiladores table tr" )[2] ).find( "td" ).length-1 ; sumaTR++  ) {
				
					var fecha			= $( $( $( "#ventiladores table tr" )[0] ).find( "th" )[sumaTR] ).html();
					var total			= $( $( $( "#ventiladores table tr" )[1] ).find( "td" )[sumaTR] ).html();
					var disponibles	= $( $( $( "#ventiladores table tr" )[2] ).find( "td" )[sumaTR] ).html();
					if ( disponibles == "" ) {
						disponibles = 0;
					};
					var ocupados		= $( $( $( "#ventiladores table tr" )[3] ).find( "td" )[sumaTR] ).html();
					if ( ocupados == "" ) {
						ocupados = 0;
					};
					var push_todosTotales 	= '[["' + fecha + '",' + disponibles + ',' + ocupados + ',' + total + ']]';
					dataVentiladoresDia.addRows(JSON.parse(push_todosTotales));
	
				}
	
				var chart = new google.visualization.ComboChart(document.getElementById('ventiladores-grafico'));
				chart.draw(dataVentiladoresDia, options);
	
			}
		} catch ( error ) {
			console.log( "Error en el try de [ventiladores]" );
			console.log( error );
		};
	};
	$( "#ventiladores-grafico button.magia" ).click(function(){
		ventiladores();
		$( this ).hide();
	});




