{
  "name": "Covid 19",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "_pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "_scss/cuentaRegresiva.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/cuentaRegresiva.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "css/cuentaRegresiva.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"css/cuentaRegresiva.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "_pug/dashboard.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dashboard.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "_scss/dashboard.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/dashboard.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "css/dashboard.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"css/dashboard.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "_scss/header.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/header.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "css/header.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"css/header.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "_scss/graficos.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/graficos.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "css/graficos.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"css/graficos.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "_scss/resumen.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/resumen.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "css/resumen.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"css/resumen.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "_pug/contacto.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"contacto.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "_js",
      "_css",
      "_pug"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "_pug/contacto.pug",
      "imports": [
        "_components/meta.pug",
        "_components/header.pug",
        "_components/ilustracionHeader.pug",
        "_components/footer.pug"
      ]
    },
    {
      "path": "_pug/dashboard.pug",
      "imports": [
        "_components/header.pug",
        "_components/footer.pug"
      ]
    },
    {
      "path": "_pug/dev.pug",
      "imports": [
        "_components/meta.pug",
        "_components/header.pug",
        "_components/footer.pug"
      ]
    },
    {
      "path": "_pug/index.pug",
      "imports": [
        "_components/meta.pug",
        "_components/header.pug",
        "_components/ilustracionHeader.pug",
        "_components/data/resumen.pug",
        "_components/data/casosTotales.pug",
        "_components/data/contagiosPorDia.pug",
        "_components/data/recuperadosPorDia.pug",
        "_components/data/fallecidosPorDia.pug",
        "_components/data/uciRM.pug",
        "_components/data/uciPorRegion.pug",
        "_components/data/pcrRM.pug",
        "_components/data/pcrPorRegion.pug",
        "_components/data/ventiladores.pug",
        "_components/data/rangoEtario.pug",
        "_components/footer.pug",
        "_components/modal_dataDesactualizada.pug"
      ]
    },
    {
      "path": "_scss/cuentaRegresiva.scss",
      "imports": [
        "_scss/variables.scss"
      ]
    },
    {
      "path": "_scss/dashboard.scss",
      "imports": [
        "_scss/variables.scss"
      ]
    },
    {
      "path": "_scss/graficos.scss",
      "imports": [
        "_scss/variables.scss"
      ]
    },
    {
      "path": "_scss/header.scss",
      "imports": [
        "_scss/variables.scss"
      ]
    },
    {
      "path": "_scss/resumen.scss",
      "imports": [
        "_scss/variables.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7893,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/public_html/covid19/",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "ftp.volatil.cl",
      "port": 21,
      "user": "volatil",
      "password": "udechile"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.less",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "css/cuentaRegresiva.css",
        "ctime": "2020-04-18T21:47:59.768Z",
        "mtime": "2020-04-18T21:47:53.503Z",
        "size": 1999
      },
      {
        "file": "css/cuentaRegresiva.min.css",
        "ctime": "2020-04-18T21:47:59.738Z",
        "mtime": "2020-04-18T21:47:53.625Z",
        "size": 1551
      },
      {
        "file": "imagenes/bg.jpeg",
        "ctime": "2020-04-14T03:53:22.412Z",
        "mtime": "2020-04-14T03:53:09.864Z",
        "size": 146673
      },
      {
        "file": "imagenes/corona200x200.jpg",
        "ctime": "2020-04-14T03:36:05.130Z",
        "mtime": "2020-04-14T03:35:53.500Z",
        "size": 25061
      },
      {
        "file": "imagenes/favicon.png",
        "ctime": "2020-04-14T03:35:16.919Z",
        "mtime": "2020-04-14T03:35:03.944Z",
        "size": 3337
      },
      {
        "file": "imagenes/tiempo.png",
        "ctime": "2020-04-14T03:53:45.890Z",
        "mtime": "2020-04-14T03:46:49.141Z",
        "size": 3978
      },
      {
        "file": "index.html",
        "ctime": "2020-04-27T17:17:46.623Z",
        "mtime": "2020-04-27T17:17:39.183Z",
        "size": 16953
      },
      {
        "file": "js/jquery.lwtCountdown-0.9.5.js",
        "ctime": "2020-04-14T03:33:54.650Z",
        "mtime": "2020-04-14T03:33:17.594Z",
        "size": 5148
      },
      {
        "file": "_components/cuentaRegresiva.pug",
        "ctime": "2020-04-20T19:00:50.700Z",
        "mtime": "2020-04-20T19:00:41.048Z",
        "size": 1021
      },
      {
        "file": "_pug/index.pug",
        "ctime": "2020-04-20T18:58:36.216Z",
        "mtime": "2020-04-20T18:58:25.082Z",
        "size": 1437
      },
      {
        "file": "_scss/cuentaRegresiva.scss",
        "ctime": "2020-04-18T21:47:59.794Z",
        "mtime": "2020-04-18T21:47:53.395Z",
        "size": 1708
      },
      {
        "file": "js/jquery-3.5.0.min.js",
        "ctime": "2020-04-14T17:15:51.915Z",
        "mtime": "2020-04-14T17:15:34.989Z",
        "size": 89493
      },
      {
        "file": "imagenes/bg-min.jpeg",
        "ctime": "2020-04-14T17:18:03.955Z",
        "mtime": "2020-04-14T17:17:43.740Z",
        "size": 67796
      },
      {
        "file": "css/dashboard.css",
        "ctime": "2020-04-19T19:01:42.816Z",
        "mtime": "2020-04-19T19:01:38.289Z",
        "size": 1473
      },
      {
        "file": "css/dashboard.min.css",
        "ctime": "2020-04-19T19:01:44.317Z",
        "mtime": "2020-04-19T19:01:38.401Z",
        "size": 1114
      },
      {
        "file": "dashboard.html",
        "ctime": "2020-04-27T17:17:03.291Z",
        "mtime": "2020-04-27T17:16:55.355Z",
        "size": 24369
      },
      {
        "file": "_pug/dashboard.pug",
        "ctime": "2020-04-27T17:17:05.445Z",
        "mtime": "2020-04-27T17:16:55.130Z",
        "size": 19369
      },
      {
        "file": "_scss/dashboard.scss",
        "ctime": "2020-04-19T19:01:42.523Z",
        "mtime": "2020-04-19T19:01:38.179Z",
        "size": 1166
      },
      {
        "file": "css/header.css",
        "ctime": "2020-04-18T21:46:39.071Z",
        "mtime": "2020-04-18T21:46:34.696Z",
        "size": 1595
      },
      {
        "file": "css/header.min.css",
        "ctime": "2020-04-18T21:46:39.041Z",
        "mtime": "2020-04-18T21:46:35.002Z",
        "size": 1236
      },
      {
        "file": "_components/header.pug",
        "ctime": "2020-04-18T20:02:10.481Z",
        "mtime": "2020-04-18T20:02:07.388Z",
        "size": 1794
      },
      {
        "file": "_scss/header.scss",
        "ctime": "2020-04-18T21:46:39.017Z",
        "mtime": "2020-04-18T21:46:32.626Z",
        "size": 1058
      },
      {
        "file": "_scss/variables.scss",
        "ctime": "2020-04-18T21:47:10.838Z",
        "mtime": "2020-04-18T21:47:04.729Z",
        "size": 571
      },
      {
        "file": "_components/footer.pug",
        "ctime": "2020-04-18T18:14:47.701Z",
        "mtime": "2020-04-18T18:14:37.845Z",
        "size": 1202
      },
      {
        "file": "_components/data/casosTotales.pug",
        "ctime": "2020-04-27T17:17:20.355Z",
        "mtime": "2020-04-27T17:17:09.410Z",
        "size": 2423
      },
      {
        "file": "_components/data/contagiosPorDia.pug",
        "ctime": "2020-04-27T17:17:30.622Z",
        "mtime": "2020-04-27T17:17:20.521Z",
        "size": 2076
      },
      {
        "file": "_components/data/fallecidosPorDia.pug",
        "ctime": "2020-04-27T17:17:40.644Z",
        "mtime": "2020-04-27T17:17:30.392Z",
        "size": 2013
      },
      {
        "file": "_components/data/recuperadosPorDia.pug",
        "ctime": "2020-04-27T17:17:48.874Z",
        "mtime": "2020-04-27T17:17:39.033Z",
        "size": 2070
      },
      {
        "file": "css/graficos.css",
        "ctime": "2020-04-19T00:55:26.047Z",
        "mtime": "2020-04-19T00:55:18.411Z",
        "size": 1013
      },
      {
        "file": "css/graficos.min.css",
        "ctime": "2020-04-19T00:55:26.087Z",
        "mtime": "2020-04-19T00:55:18.555Z",
        "size": 761
      },
      {
        "file": "_scss/graficos.scss",
        "ctime": "2020-04-19T00:55:27.681Z",
        "mtime": "2020-04-19T00:55:18.302Z",
        "size": 699
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}