{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".ls",
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          "node_modules",
          ".*",
          "bower_components",
          "prepros.config",
          "Prepros Export",
          "prepros-6.config",
          "prepros.cfg",
          "wp-admin",
          "wp-includes"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "config.rb",
          "prepros.config",
          "prepros-6.config",
          "node_modules",
          "Prepros Export",
          ".git",
          ".idea",
          ".sass-cache",
          ".hg",
          ".svn",
          ".cache",
          ".DS_Store",
          "*.less",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.ls",
          "*.kit",
          "*.ts",
          ".ai"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/public_html/infocovid19.cl/desarrollo/",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "imagenes/favicon.png",
          "mtimeMs": 1590972315843.7546,
          "ctimeMs": 1590972315843.7546,
          "date": "2020-06-01T01:30:09.882Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1611681641576.0913,
          "date": "2021-01-26T17:48:59.509Z"
        },
        {
          "file": "_pug/index.pug",
          "mtimeMs": 1609809114165.927,
          "date": "2021-01-26T17:49:30.505Z"
        },
        {
          "file": "js/jquery-3.5.0.min.js",
          "mtimeMs": 1590972315857.754,
          "ctimeMs": 1590972315857.754,
          "date": "2020-06-01T01:31:19.345Z"
        },
        {
          "file": "css/dashboard.css",
          "mtimeMs": 1590972315836.7534,
          "ctimeMs": 1590972315836.7534,
          "date": "2020-06-01T01:29:49.241Z"
        },
        {
          "file": "css/dashboard.min.css",
          "mtimeMs": 1590972315837.7544,
          "ctimeMs": 1590972315837.7544,
          "date": "2020-06-01T01:29:50.668Z"
        },
        {
          "file": "_scss/dashboard.scss",
          "mtimeMs": 1590975325793.5833,
          "ctimeMs": 1590975325793.5833,
          "date": "2020-06-01T01:38:58.125Z"
        },
        {
          "file": "css/header.css",
          "mtimeMs": 1590972315838.7537,
          "ctimeMs": 1590972315838.7537,
          "date": "2020-06-01T01:29:54.993Z"
        },
        {
          "file": "css/header.min.css",
          "mtimeMs": 1590972315838.7537,
          "ctimeMs": 1590972315838.7537,
          "date": "2020-06-01T01:29:56.411Z"
        },
        {
          "file": "_components/header.pug",
          "mtimeMs": 1596864342158.2405,
          "date": "2021-01-26T17:49:04.360Z"
        },
        {
          "file": "_scss/header.scss",
          "mtimeMs": 1590975339448.233,
          "ctimeMs": 1590975339448.233,
          "date": "2020-06-01T01:39:01.024Z"
        },
        {
          "file": "_scss/variables.scss",
          "mtimeMs": 1591655349718.625,
          "date": "2021-01-26T17:49:36.886Z"
        },
        {
          "file": "_components/footer.pug",
          "mtimeMs": 1596864265787.987,
          "date": "2021-01-26T17:49:03.065Z"
        },
        {
          "file": "_components/data/casosTotales.pug",
          "mtimeMs": 1603845288867.6577,
          "date": "2021-01-26T17:49:11.092Z"
        },
        {
          "file": "_components/data/contagiosPorDia.pug",
          "mtimeMs": 1603845666445.4617,
          "date": "2021-01-26T17:49:13.894Z"
        },
        {
          "file": "_components/data/fallecidosPorDia.pug",
          "mtimeMs": 1591653391427.573,
          "date": "2021-01-26T17:49:16.721Z"
        },
        {
          "file": "_components/data/recuperadosPorDia.pug",
          "mtimeMs": 1597956732831.307,
          "date": "2021-01-26T17:49:20.931Z"
        },
        {
          "file": "css/graficos.css",
          "mtimeMs": 1590972315837.7544,
          "ctimeMs": 1590972315837.7544,
          "date": "2020-06-01T01:29:52.110Z"
        },
        {
          "file": "css/graficos.min.css",
          "mtimeMs": 1590972315837.7544,
          "ctimeMs": 1590972315837.7544,
          "date": "2020-06-01T01:29:53.550Z"
        },
        {
          "file": "_scss/graficos.scss",
          "mtimeMs": 1609808841249.7131,
          "date": "2021-01-26T17:49:33.056Z"
        },
        {
          "file": "_design/home.ai",
          "mtimeMs": 1590972315829.7832,
          "ctimeMs": 1590974052338.6516,
          "date": "2020-06-01T01:29:29.050Z"
        },
        {
          "file": "_components/ilustracionHeader.pug",
          "mtimeMs": 1607895938834.1675,
          "date": "2021-01-26T17:49:05.631Z"
        },
        {
          "file": "imagenes/ilustracionHeaderLeft.png",
          "mtimeMs": 1590972315845.7534,
          "ctimeMs": 1590972315845.7534,
          "date": "2020-06-01T01:30:14.771Z"
        },
        {
          "file": "imagenes/ilustracionHeaderRight.png",
          "mtimeMs": 1590972315846.7544,
          "ctimeMs": 1590972315846.7544,
          "date": "2020-06-01T01:30:17.787Z"
        },
        {
          "file": "_components/modal_dataDesactualizada.pug",
          "mtimeMs": 1590972315796.755,
          "ctimeMs": 1590972315796.755,
          "date": "2020-06-01T01:29:00.986Z"
        },
        {
          "file": "_design/home.png",
          "mtimeMs": 1590972315831.755,
          "ctimeMs": 1590972315831.755,
          "date": "2020-06-01T01:29:30.983Z"
        },
        {
          "file": "_components/data/ventiladores.pug",
          "mtimeMs": 1603855574018.2603,
          "date": "2021-01-26T17:49:26.686Z"
        },
        {
          "file": "_components/data/resumen.pug",
          "mtimeMs": 1611681640170.437,
          "date": "2021-01-26T17:49:23.870Z"
        },
        {
          "file": "_scss/resumen.scss",
          "mtimeMs": 1597679302131.1416,
          "date": "2021-01-26T17:49:35.621Z"
        },
        {
          "file": "css/resumen.css",
          "mtimeMs": 1591226632595.3474,
          "date": "2021-01-26T17:49:40.956Z"
        },
        {
          "file": "css/resumen.min.css",
          "mtimeMs": 1591226632598.334,
          "date": "2021-01-26T17:49:42.223Z"
        },
        {
          "file": "imagenes/home.png",
          "mtimeMs": 1590972315844.7544,
          "ctimeMs": 1590972315844.7544,
          "date": "2020-06-01T01:30:11.756Z"
        },
        {
          "file": "_components/data/rangoEtario.pug",
          "mtimeMs": 1594227614586.4998,
          "date": "2021-01-26T17:49:19.525Z"
        },
        {
          "file": "_components/data/pcrPorRegion.pug",
          "mtimeMs": 1590972315792.7534,
          "ctimeMs": 1590972315792.7534,
          "date": "2020-06-01T01:29:07.331Z"
        },
        {
          "file": "_components/meta.pug",
          "mtimeMs": 1599403644604.3015,
          "date": "2021-01-26T17:49:06.894Z"
        },
        {
          "file": "imagenes/covid200x200.jpg",
          "mtimeMs": 1590972315843.7546,
          "ctimeMs": 1590972315843.7546,
          "date": "2020-06-01T01:30:07.030Z"
        },
        {
          "file": "imagenes/appFace.jpg",
          "mtimeMs": 1590972315841.7551,
          "ctimeMs": 1590972315841.7551,
          "date": "2020-06-01T01:30:05.545Z"
        },
        {
          "file": ".gitignore",
          "mtimeMs": 1590972315784.7878,
          "ctimeMs": 1590972315784.7878,
          "date": "2020-06-01T01:28:40.047Z"
        },
        {
          "file": ".htaccess",
          "mtimeMs": 1590972315785.791,
          "ctimeMs": 1590972315785.791,
          "date": "2020-06-01T01:28:41.322Z"
        },
        {
          "file": "README.md",
          "mtimeMs": 1596580104922.1594,
          "date": "2021-01-26T17:48:55.547Z"
        },
        {
          "file": "contacto.html",
          "mtimeMs": 1607895939755.4678,
          "date": "2021-01-26T17:48:58.093Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1590972315840.7546,
          "ctimeMs": 1590972315840.7546,
          "date": "2020-06-01T01:28:47.326Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1590972315840.7546,
          "ctimeMs": 1590972315840.7546,
          "date": "2020-06-01T01:28:48.597Z"
        },
        {
          "file": "_components/data/pcrRM.pug",
          "mtimeMs": 1591280020915.1929,
          "date": "2021-01-26T17:49:18.121Z"
        },
        {
          "file": "_components/data/uciPorRegion.pug",
          "mtimeMs": 1590972315793.7556,
          "ctimeMs": 1590972315793.7556,
          "date": "2020-06-01T01:29:15.280Z"
        },
        {
          "file": "_components/data/uciRM.pug",
          "mtimeMs": 1590972315794.7537,
          "ctimeMs": 1590972315794.7537,
          "date": "2020-06-01T01:29:16.912Z"
        },
        {
          "file": "_design/README.ai",
          "mtimeMs": 1590972315801.7546,
          "ctimeMs": 1590972315801.7546,
          "date": "2020-06-01T01:29:20.967Z"
        },
        {
          "file": "_pug/contacto.pug",
          "mtimeMs": 1596864504436.3235,
          "date": "2021-01-26T17:49:29.239Z"
        },
        {
          "file": "_scss/main.scss",
          "mtimeMs": 1607896450723.4043,
          "date": "2021-01-26T17:49:34.334Z"
        },
        {
          "file": "css/main.css",
          "mtimeMs": 1609808841866.7144,
          "date": "2021-01-26T17:49:38.285Z"
        },
        {
          "file": "css/main.min.css",
          "mtimeMs": 1609808842461.7114,
          "date": "2021-01-26T17:49:39.683Z"
        },
        {
          "file": "imagenes/README.jpg",
          "mtimeMs": 1590972315841.7551,
          "ctimeMs": 1590972315841.7551,
          "date": "2020-06-01T01:30:03.821Z"
        },
        {
          "file": "imagenes/favicon.ico",
          "mtimeMs": 1590972315843.7546,
          "ctimeMs": 1590972315843.7546,
          "date": "2020-06-01T01:30:08.462Z"
        },
        {
          "file": "imagenes/ilustracionHeaderLeft-opt.png",
          "mtimeMs": 1590974481569.7202,
          "ctimeMs": 1590974481570.7185,
          "date": "2020-06-01T01:30:13.201Z"
        },
        {
          "file": "imagenes/ilustracionHeaderRight-opt.png",
          "mtimeMs": 1590974462905.177,
          "ctimeMs": 1590974462906.1738,
          "date": "2020-06-01T01:30:16.203Z"
        },
        {
          "file": "imagenes/contacto/bg.gif",
          "mtimeMs": 1590972315842.7534,
          "ctimeMs": 1590972315842.7534,
          "date": "2020-06-01T01:30:19.717Z"
        },
        {
          "file": "imagenes/contacto/contactoTop.png",
          "mtimeMs": 1590972315842.7534,
          "ctimeMs": 1590972315842.7534,
          "date": "2020-06-01T01:30:21.626Z"
        },
        {
          "file": "imagenes/resumen/casosActivos-original.png",
          "mtimeMs": 1590972315846.7544,
          "ctimeMs": 1590972315846.7544,
          "date": "2020-06-01T01:30:27.748Z"
        },
        {
          "file": "imagenes/resumen/casosActivos.png",
          "mtimeMs": 1590972315847.7537,
          "ctimeMs": 1590972315847.7537,
          "date": "2020-06-01T01:30:29.332Z"
        },
        {
          "file": "imagenes/resumen/casosNuevos-original.png",
          "mtimeMs": 1590972315847.7537,
          "ctimeMs": 1590972315847.7537,
          "date": "2020-06-01T01:30:30.918Z"
        },
        {
          "file": "imagenes/resumen/casosNuevos.png",
          "mtimeMs": 1590972315847.7537,
          "ctimeMs": 1590972315847.7537,
          "date": "2020-06-01T01:30:32.521Z"
        },
        {
          "file": "imagenes/resumen/check-original.png",
          "mtimeMs": 1590972315848.754,
          "ctimeMs": 1590972315848.754,
          "date": "2020-06-01T01:30:34.112Z"
        },
        {
          "file": "imagenes/resumen/check.png",
          "mtimeMs": 1590972315848.754,
          "ctimeMs": 1590972315848.754,
          "date": "2020-06-01T01:30:35.687Z"
        },
        {
          "file": "imagenes/resumen/negativo-original.png",
          "mtimeMs": 1590972315848.754,
          "ctimeMs": 1590972315848.754,
          "date": "2020-06-01T01:30:37.282Z"
        },
        {
          "file": "imagenes/resumen/negativo.png",
          "mtimeMs": 1590972315849.7544,
          "ctimeMs": 1590972315849.7544,
          "date": "2020-06-01T01:30:38.874Z"
        },
        {
          "file": "imagenes/resumen/none-original.png",
          "mtimeMs": 1590972315849.7544,
          "ctimeMs": 1590972315849.7544,
          "date": "2020-06-01T01:30:40.433Z"
        },
        {
          "file": "imagenes/resumen/none.png",
          "mtimeMs": 1590972315849.7544,
          "ctimeMs": 1590972315849.7544,
          "date": "2020-06-01T01:30:41.998Z"
        },
        {
          "file": "imagenes/resumen/pcr-original.png",
          "mtimeMs": 1590972315849.7544,
          "ctimeMs": 1590972315849.7544,
          "date": "2020-06-01T01:30:43.597Z"
        },
        {
          "file": "imagenes/resumen/pcr.png",
          "mtimeMs": 1590972315850.7546,
          "ctimeMs": 1590972315850.7546,
          "date": "2020-06-01T01:30:45.150Z"
        },
        {
          "file": "imagenes/resumen/positivo-original.png",
          "mtimeMs": 1590972315850.7546,
          "ctimeMs": 1590972315850.7546,
          "date": "2020-06-01T01:30:46.751Z"
        },
        {
          "file": "imagenes/resumen/positivo.png",
          "mtimeMs": 1590972315850.7546,
          "ctimeMs": 1590972315850.7546,
          "date": "2020-06-01T01:30:48.358Z"
        },
        {
          "file": "imagenes/resumen/sintomas-original.png",
          "mtimeMs": 1590972315851.754,
          "ctimeMs": 1590972315851.754,
          "date": "2020-06-01T01:30:49.955Z"
        },
        {
          "file": "imagenes/resumen/sintomas.png",
          "mtimeMs": 1590972315851.754,
          "ctimeMs": 1590972315851.754,
          "date": "2020-06-01T01:30:51.547Z"
        },
        {
          "file": "imagenes/resumen/totalCasos-original.png",
          "mtimeMs": 1590972315851.754,
          "ctimeMs": 1590972315851.754,
          "date": "2020-06-01T01:30:53.134Z"
        },
        {
          "file": "imagenes/resumen/totalCasos.png",
          "mtimeMs": 1590972315851.754,
          "ctimeMs": 1590972315851.754,
          "date": "2020-06-01T01:30:54.716Z"
        },
        {
          "file": "imagenes/resumen/ventiladores-original.png",
          "mtimeMs": 1590972315852.7544,
          "ctimeMs": 1590972315852.7544,
          "date": "2020-06-01T01:30:56.304Z"
        },
        {
          "file": "imagenes/resumen/ventiladores.png",
          "mtimeMs": 1590972315852.7544,
          "ctimeMs": 1590972315852.7544,
          "date": "2020-06-01T01:30:57.875Z"
        },
        {
          "file": "imagenes/resumen/webp/casosActivos.webp",
          "mtimeMs": 1590972315853.754,
          "ctimeMs": 1590972315853.754,
          "date": "2020-06-01T01:30:59.581Z"
        },
        {
          "file": "imagenes/resumen/webp/casosNuevos.webp",
          "mtimeMs": 1590972315853.754,
          "ctimeMs": 1590972315853.754,
          "date": "2020-06-01T01:31:01.355Z"
        },
        {
          "file": "imagenes/resumen/webp/check.webp",
          "mtimeMs": 1590972315853.754,
          "ctimeMs": 1590972315853.754,
          "date": "2020-06-01T01:31:03.084Z"
        },
        {
          "file": "imagenes/resumen/webp/negativo.webp",
          "mtimeMs": 1590972315854.7546,
          "ctimeMs": 1590972315854.7546,
          "date": "2020-06-01T01:31:04.790Z"
        },
        {
          "file": "imagenes/resumen/webp/none.webp",
          "mtimeMs": 1590972315854.7546,
          "ctimeMs": 1590972315854.7546,
          "date": "2020-06-01T01:31:06.527Z"
        },
        {
          "file": "imagenes/resumen/webp/pcr.webp",
          "mtimeMs": 1590972315854.7546,
          "ctimeMs": 1590972315854.7546,
          "date": "2020-06-01T01:31:08.262Z"
        },
        {
          "file": "imagenes/resumen/webp/positivo.webp",
          "mtimeMs": 1590972315854.7546,
          "ctimeMs": 1590972315854.7546,
          "date": "2020-06-01T01:31:09.975Z"
        },
        {
          "file": "imagenes/resumen/webp/sintomas.webp",
          "mtimeMs": 1590972315855.7544,
          "ctimeMs": 1590972315855.7544,
          "date": "2020-06-01T01:31:11.690Z"
        },
        {
          "file": "imagenes/resumen/webp/totalCasos.webp",
          "mtimeMs": 1590972315855.7544,
          "ctimeMs": 1590972315855.7544,
          "date": "2020-06-01T01:31:13.470Z"
        },
        {
          "file": "imagenes/resumen/webp/ventiladores.webp",
          "mtimeMs": 1590972315855.7544,
          "ctimeMs": 1590972315855.7544,
          "date": "2020-06-01T01:31:15.206Z"
        },
        {
          "file": "js/lazysizes.min.js",
          "mtimeMs": 1590972315857.754,
          "ctimeMs": 1590972315857.754,
          "date": "2020-06-01T01:31:22.232Z"
        },
        {
          "file": "js/loader.js",
          "mtimeMs": 1590976036278.1301,
          "ctimeMs": 1590976040198.9414,
          "date": "2020-06-01T01:48:36.045Z"
        },
        {
          "file": "js/loader.min.js",
          "mtimeMs": 1590976053176.3555,
          "ctimeMs": 1590976053176.3555,
          "date": "2020-06-01T01:48:37.706Z"
        },
        {
          "file": "conchart.html",
          "mtimeMs": 1599403645300.3396,
          "date": "2021-01-26T17:48:56.816Z"
        },
        {
          "file": "sinchart.html",
          "mtimeMs": 1607895939696.7869,
          "date": "2021-01-26T17:49:00.776Z"
        },
        {
          "file": "_components/data/casosActivosPorDia.pug",
          "mtimeMs": 1603846529492.7278,
          "date": "2021-01-26T17:49:08.290Z"
        },
        {
          "file": "_components/data/casosGeneroEtario.pug",
          "mtimeMs": 1596864298559.0125,
          "date": "2021-01-26T17:49:09.693Z"
        },
        {
          "file": "_components/data/comunasFase.pug",
          "mtimeMs": 1609808862019.1758,
          "date": "2021-01-26T17:49:12.494Z"
        },
        {
          "file": "_components/data/contagiosPorRegion.pug",
          "mtimeMs": 1598535510651.151,
          "date": "2021-01-26T17:49:15.305Z"
        },
        {
          "file": "_components/data/residenciasSanitarias.pug",
          "mtimeMs": 1593416188974.2512,
          "date": "2021-01-26T17:49:22.328Z"
        },
        {
          "file": "_components/data/resumenCHARTJS.pug",
          "mtimeMs": 1597713465200.3237,
          "date": "2021-01-26T17:49:25.282Z"
        },
        {
          "file": "_pug/conchart.pug",
          "mtimeMs": 1597714234105.1052,
          "date": "2021-01-26T17:49:27.963Z"
        },
        {
          "file": "_pug/sinchart.pug",
          "mtimeMs": 1597714245127.709,
          "date": "2021-01-26T17:49:31.780Z"
        },
        {
          "file": "imagenes/push/1.PNG",
          "mtimeMs": 1591373685595.944,
          "date": "2021-01-26T17:49:43.641Z"
        },
        {
          "file": "imagenes/push/20200606-0229push.jpg",
          "mtimeMs": 1591424980184.1626,
          "date": "2021-01-26T17:49:45.037Z"
        },
        {
          "file": "imagenes/resumen/cuposResidencia-original.png",
          "mtimeMs": 1593415240522.7864,
          "date": "2021-01-26T17:49:46.459Z"
        },
        {
          "file": "imagenes/resumen/cuposResidencia.png",
          "mtimeMs": 1593415276844.4558,
          "date": "2021-01-26T17:49:47.852Z"
        },
        {
          "file": "imagenes/resumen/loading1.gif",
          "mtimeMs": 1591656261880,
          "date": "2021-01-26T17:49:49.672Z"
        },
        {
          "file": "imagenes/resumen/loading2.gif",
          "mtimeMs": 1591656378191.1245,
          "date": "2021-01-26T17:49:51.752Z"
        },
        {
          "file": "imagenes/resumen/residencia-original.png",
          "mtimeMs": 1592846108226.365,
          "date": "2021-01-26T17:49:53.153Z"
        },
        {
          "file": "imagenes/resumen/residencia.png",
          "mtimeMs": 1592846242126.393,
          "date": "2021-01-26T17:49:54.544Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 5 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_pug/2021.pug",
        "config": {
          "customOutput": "2021.html"
        }
      },
      {
        "file": "_pug/conchart.pug",
        "config": {
          "customOutput": "conchart.html"
        }
      },
      {
        "file": "_pug/contacto.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "contacto.html"
        }
      },
      {
        "file": "_pug/dashboard.pug",
        "config": {
          "customOutput": "dashboard.html",
          "tasks": {
            "minify-html": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "_pug/dev.pug",
        "config": {
          "customOutput": "dev.html",
          "tasks": {
            "minify-html": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "_pug/index.pug",
        "config": {
          "customOutput": "index.html",
          "tasks": {
            "minify-html": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "_pug/indexAutomatico.pug",
        "config": {
          "customOutput": "indexAutomatico.html"
        }
      },
      {
        "file": "_pug/pcrporregion.pug",
        "config": {
          "customOutput": "pcrporregion.html"
        }
      },
      {
        "file": "_pug/sinchart.pug",
        "config": {
          "customOutput": "sinchart.html"
        }
      },
      {
        "file": "_scss/cuentaRegresiva.scss",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/cuentaRegresiva.css"
        }
      },
      {
        "file": "_scss/dashboard.scss",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/dashboard.css"
        }
      },
      {
        "file": "_scss/graficos.scss",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/graficos.css"
        }
      },
      {
        "file": "_scss/header.scss",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/header.css"
        }
      },
      {
        "file": "_scss/main.scss",
        "config": {
          "customOutput": "css\\main.css"
        }
      },
      {
        "file": "_scss/resumen.scss",
        "config": {
          "customOutput": "css\\resumen.css"
        }
      },
      {
        "file": "css/cuentaRegresiva.css",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/cuentaRegresiva.min.css"
        }
      },
      {
        "file": "css/dashboard.css",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/dashboard.min.css"
        }
      },
      {
        "file": "css/graficos.css",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/graficos.min.css"
        }
      },
      {
        "file": "css/header.css",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/header.min.css"
        }
      },
      {
        "file": "css/main.css",
        "config": {
          "autoCompile": true,
          "customOutput": "css\\main.min.css"
        }
      },
      {
        "file": "css/resumen.css",
        "config": {
          "autoCompile": true,
          "customOutput": "css\\resumen.min.css"
        }
      },
      {
        "file": "imagenes/ilustracionHeaderLeft.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 50
              }
            }
          },
          "customOutput": "imagenes\\ilustracionHeaderLeft-opt.png",
          "originalSize": 18415,
          "optimized": true
        }
      },
      {
        "file": "imagenes/ilustracionHeaderRight.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 50
              }
            }
          },
          "customOutput": "imagenes\\ilustracionHeaderRight-opt.png",
          "originalSize": 18280,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/casosActivos.png",
        "config": {
          "originalSize": 2626,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/casosNuevos.png",
        "config": {
          "originalSize": 5224,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/check.png",
        "config": {
          "originalSize": 2358,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/cuposResidencia.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 50
              }
            }
          },
          "originalSize": 1845,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/negativo.png",
        "config": {
          "originalSize": 2087,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/none.png",
        "config": {
          "originalSize": 2392,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/pcr.png",
        "config": {
          "originalSize": 2392,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/positivo.png",
        "config": {
          "originalSize": 2069,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/residencia.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 50
              }
            }
          },
          "originalSize": 1219,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/sintomas.png",
        "config": {
          "originalSize": 1602,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/totalCasos.png",
        "config": {
          "originalSize": 3068,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/ventiladores.png",
        "config": {
          "originalSize": 3227,
          "optimized": true
        }
      },
      {
        "file": "js/loader.js",
        "config": {
          "customOutput": "js\\loader.min.js"
        }
      }
    ]
  }
}
