{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".ls",
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          "node_modules",
          ".*",
          "bower_components",
          "prepros.config",
          "Prepros Export",
          "prepros-6.config",
          "prepros.cfg",
          "wp-admin",
          "wp-includes"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "config.rb",
          "prepros.config",
          "prepros-6.config",
          "node_modules",
          "Prepros Export",
          ".git",
          ".idea",
          ".sass-cache",
          ".hg",
          ".svn",
          ".cache",
          ".DS_Store",
          "*.less",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.ls",
          "*.kit",
          "*.ts",
          ".ai"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/public_html/covid19/",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "css/cuentaRegresiva.css",
          "mtimeMs": 1589220865093.075,
          "ctimeMs": 1589220880036.672,
          "date": "2020-05-11T18:20:19.377Z"
        },
        {
          "file": "css/cuentaRegresiva.min.css",
          "mtimeMs": 1589000765523.5515,
          "ctimeMs": 1589000774314.125,
          "date": "2020-05-09T06:00:29.258Z"
        },
        {
          "file": "imagenes/favicon.png",
          "mtimeMs": 1586835303944.2666,
          "ctimeMs": 1586835316919.863,
          "date": "2020-04-27T22:17:50.595Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1589379716700.7156,
          "ctimeMs": 1589379725796.2512,
          "date": "2020-05-13T14:22:15.382Z"
        },
        {
          "file": "js/jquery.lwtCountdown-0.9.5.js",
          "mtimeMs": 1586835197594.5835,
          "ctimeMs": 1586835234650.2837,
          "date": "2020-04-27T22:17:54.624Z"
        },
        {
          "file": "_components/cuentaRegresiva.pug",
          "mtimeMs": 1587409241048.908,
          "ctimeMs": 1587409250700.3994,
          "date": "2020-04-27T22:17:16.473Z"
        },
        {
          "file": "_pug/index.pug",
          "mtimeMs": 1589333710724.5757,
          "ctimeMs": 1589333722239.9285,
          "date": "2020-05-13T01:47:12.331Z"
        },
        {
          "file": "_scss/cuentaRegresiva.scss",
          "mtimeMs": 1587246473395.8306,
          "ctimeMs": 1587246479794.9268,
          "date": "2020-04-27T22:17:29.696Z"
        },
        {
          "file": "js/jquery-3.5.0.min.js",
          "mtimeMs": 1586884534989.728,
          "ctimeMs": 1586884551915.463,
          "date": "2020-04-27T22:17:53.397Z"
        },
        {
          "file": "css/dashboard.css",
          "mtimeMs": 1589220865115.1013,
          "ctimeMs": 1589220875277.8179,
          "date": "2020-05-11T18:20:20.627Z"
        },
        {
          "file": "css/dashboard.min.css",
          "mtimeMs": 1588961491201.2036,
          "ctimeMs": 1588961504965.0774,
          "date": "2020-05-08T18:35:04.480Z"
        },
        {
          "file": "dashboard.html",
          "mtimeMs": 1589379716687.6924,
          "ctimeMs": 1589379726734.1196,
          "date": "2020-05-13T14:22:12.739Z"
        },
        {
          "file": "_pug/dashboard.pug",
          "mtimeMs": 1588532394354.1577,
          "ctimeMs": 1588532430449.9275,
          "date": "2020-05-03T19:01:12.643Z"
        },
        {
          "file": "_scss/dashboard.scss",
          "mtimeMs": 1588025804949.817,
          "ctimeMs": 1588025814644.3457,
          "date": "2020-04-27T22:17:30.928Z"
        },
        {
          "file": "css/header.css",
          "mtimeMs": 1589220865116.0752,
          "ctimeMs": 1589220877355.2568,
          "date": "2020-05-11T18:20:24.378Z"
        },
        {
          "file": "css/header.min.css",
          "mtimeMs": 1589220865322.0203,
          "ctimeMs": 1589220878582.7056,
          "date": "2020-05-11T18:20:25.636Z"
        },
        {
          "file": "_components/header.pug",
          "mtimeMs": 1588570096769.6113,
          "ctimeMs": 1588570107928.1533,
          "date": "2020-05-04T07:00:32.545Z"
        },
        {
          "file": "_scss/header.scss",
          "mtimeMs": 1588697712145.9973,
          "ctimeMs": 1588697720293.879,
          "date": "2020-05-05T16:55:37.179Z"
        },
        {
          "file": "_scss/variables.scss",
          "mtimeMs": 1589220864253.4688,
          "ctimeMs": 1589220872755.5774,
          "date": "2020-05-11T18:20:18.142Z"
        },
        {
          "file": "_components/footer.pug",
          "mtimeMs": 1589379716019.7476,
          "ctimeMs": 1589379730137.948,
          "date": "2020-05-13T14:22:16.630Z"
        },
        {
          "file": "_components/data/casosTotales.pug",
          "mtimeMs": 1589327432889.8667,
          "ctimeMs": 1589327442409.6812,
          "date": "2020-05-12T23:51:47.012Z"
        },
        {
          "file": "_components/data/contagiosPorDia.pug",
          "mtimeMs": 1589327192155.508,
          "ctimeMs": 1589327202821.0276,
          "date": "2020-05-12T23:47:19.640Z"
        },
        {
          "file": "_components/data/fallecidosPorDia.pug",
          "mtimeMs": 1589220581881.0793,
          "ctimeMs": 1589220594827.7192,
          "date": "2020-05-11T18:13:11.995Z"
        },
        {
          "file": "_components/data/recuperadosPorDia.pug",
          "mtimeMs": 1589220589558.1118,
          "ctimeMs": 1589220602297.4937,
          "date": "2020-05-11T18:13:14.802Z"
        },
        {
          "file": "css/graficos.css",
          "mtimeMs": 1589222237075.0742,
          "ctimeMs": 1589222244304.106,
          "date": "2020-05-11T18:37:29.423Z"
        },
        {
          "file": "css/graficos.min.css",
          "mtimeMs": 1589222237272.1187,
          "ctimeMs": 1589222244278.1824,
          "date": "2020-05-11T18:37:30.670Z"
        },
        {
          "file": "_scss/graficos.scss",
          "mtimeMs": 1589222236848.2668,
          "ctimeMs": 1589222244251.1826,
          "date": "2020-05-11T18:37:28.176Z"
        },
        {
          "file": "_assets/Datos-COVID19-master.zip",
          "mtimeMs": 1588027407536.444,
          "ctimeMs": 1588054946778.9946,
          "date": "2020-04-28T15:41:56.741Z"
        },
        {
          "file": "dev.html",
          "mtimeMs": 1589379716686.6938,
          "ctimeMs": 1589379726777.1194,
          "date": "2020-05-13T14:22:13.994Z"
        },
        {
          "file": "_pug/dev.pug",
          "mtimeMs": 1589333423902.7393,
          "ctimeMs": 1589333434847.1633,
          "date": "2020-05-13T01:47:11.075Z"
        },
        {
          "file": "_design/home.ai",
          "mtimeMs": 1589345768334.2969,
          "ctimeMs": 1589345780358.217,
          "date": "2020-05-13T14:21:12.547Z"
        },
        {
          "file": "_components/ilustracionHeader.pug",
          "mtimeMs": 1589224780017.8694,
          "ctimeMs": 1589224789719.39,
          "date": "2020-05-11T20:00:15.866Z"
        },
        {
          "file": "imagenes/ilustracionHeaderLeft.png",
          "mtimeMs": 1589002675506.4739,
          "ctimeMs": 1589002710236.0442,
          "date": "2020-05-09T06:00:39.482Z"
        },
        {
          "file": "imagenes/ilustracionHeaderRight.png",
          "mtimeMs": 1588575521754.3938,
          "ctimeMs": 1588575537780.1514,
          "date": "2020-05-04T07:00:46.580Z"
        },
        {
          "file": "_components/modal_dataDesactualizada.pug",
          "mtimeMs": 1589000003026.2463,
          "ctimeMs": 1589000014049.291,
          "date": "2020-05-09T05:59:46.107Z"
        },
        {
          "file": "_design/home.png",
          "mtimeMs": 1588699121758.231,
          "ctimeMs": 1588699154296.0273,
          "date": "2020-05-05T19:02:25.081Z"
        },
        {
          "file": "_components/data/ventiladores.pug",
          "mtimeMs": 1589220539691.4763,
          "ctimeMs": 1589220550275.2158,
          "date": "2020-05-11T18:13:16.179Z"
        },
        {
          "file": "_components/data/resumen.pug",
          "mtimeMs": 1589326643793.8613,
          "ctimeMs": 1589326650043.199,
          "date": "2020-05-12T23:38:47.715Z"
        },
        {
          "file": "_scss/resumen.scss",
          "mtimeMs": 1589326586176.057,
          "ctimeMs": 1589326594479.739,
          "date": "2020-05-12T23:36:59.836Z"
        },
        {
          "file": "css/resumen.css",
          "mtimeMs": 1589326586403.6853,
          "ctimeMs": 1589326593504.0913,
          "date": "2020-05-12T23:37:01.263Z"
        },
        {
          "file": "css/resumen.min.css",
          "mtimeMs": 1589326586625.6414,
          "ctimeMs": 1589326594335.6187,
          "date": "2020-05-12T23:37:02.494Z"
        },
        {
          "file": "imagenes/svg/negativo.svg",
          "mtimeMs": 1589013135816.725,
          "ctimeMs": 1589013411267.6548,
          "date": "2020-05-09T10:08:55.514Z"
        },
        {
          "file": "imagenes/svg/positivo.svg",
          "mtimeMs": 1589012951041.323,
          "ctimeMs": 1589013411277.6548,
          "date": "2020-05-09T10:08:56.879Z"
        },
        {
          "file": "imagenes/home.png",
          "mtimeMs": 1588699121758.231,
          "ctimeMs": 1589150875471.1526,
          "date": "2020-05-10T23:54:49.739Z"
        },
        {
          "file": "imagenes/iconos/check.svg",
          "mtimeMs": 1589154323079.0989,
          "ctimeMs": 1589154498819.2747,
          "date": "2020-05-10T23:54:51.150Z"
        },
        {
          "file": "imagenes/iconos/none.svg",
          "mtimeMs": 1589154309435.9404,
          "ctimeMs": 1589154498820.2742,
          "date": "2020-05-10T23:54:52.526Z"
        },
        {
          "file": "_components/data/rangoEtario.pug",
          "mtimeMs": 1589220492145.3682,
          "ctimeMs": 1589220495952.752,
          "date": "2020-05-11T18:13:13.404Z"
        },
        {
          "file": "_components/data/pcrPorRegion.pug",
          "mtimeMs": 1589327497292.9773,
          "ctimeMs": 1589327500767.6602,
          "date": "2020-05-12T23:51:48.409Z"
        },
        {
          "file": "imagenes/iconos/casosNuevos.svg",
          "mtimeMs": 1589326448116.0574,
          "ctimeMs": 1589326468132.9343,
          "date": "2020-05-12T23:37:04.178Z"
        },
        {
          "file": "imagenes/iconos/totalCasos.svg",
          "mtimeMs": 1589154555752.4915,
          "ctimeMs": 1589326018592.1401,
          "date": "2020-05-12T23:37:05.591Z"
        },
        {
          "file": "_components/meta.pug",
          "mtimeMs": 1589335842165.7317,
          "ctimeMs": 1589335852213.6997,
          "date": "2020-05-13T02:10:53.534Z"
        },
        {
          "file": "imagenes/covid200x200.jpg",
          "mtimeMs": 1589334023627.6306,
          "ctimeMs": 1589334045664.4438,
          "date": "2020-05-13T01:47:15.822Z"
        },
        {
          "file": "imagenes/appFace.jpg",
          "mtimeMs": 1589335749410.0425,
          "ctimeMs": 1589335762860.7458,
          "date": "2020-05-13T02:10:55.098Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 5 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_pug/contacto.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "contacto.html"
        }
      },
      {
        "file": "_pug/dashboard.pug",
        "config": {
          "customOutput": "dashboard.html",
          "tasks": {
            "minify-html": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "_pug/dev.pug",
        "config": {
          "customOutput": "dev.html",
          "tasks": {
            "minify-html": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "_pug/index.pug",
        "config": {
          "customOutput": "index.html",
          "tasks": {
            "minify-html": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "_pug/indexAutomatico.pug",
        "config": {
          "customOutput": "indexAutomatico.html"
        }
      },
      {
        "file": "_pug/pcrporregion.pug",
        "config": {
          "customOutput": "pcrporregion.html"
        }
      },
      {
        "file": "_scss/cuentaRegresiva.scss",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/cuentaRegresiva.css"
        }
      },
      {
        "file": "_scss/dashboard.scss",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/dashboard.css"
        }
      },
      {
        "file": "_scss/graficos.scss",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/graficos.css"
        }
      },
      {
        "file": "_scss/header.scss",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/header.css"
        }
      },
      {
        "file": "_scss/main.scss",
        "config": {
          "customOutput": "css\\main.css"
        }
      },
      {
        "file": "_scss/resumen.scss",
        "config": {
          "customOutput": "css\\resumen.css"
        }
      },
      {
        "file": "css/cuentaRegresiva.css",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/cuentaRegresiva.min.css"
        }
      },
      {
        "file": "css/dashboard.css",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/dashboard.min.css"
        }
      },
      {
        "file": "css/graficos.css",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/graficos.min.css"
        }
      },
      {
        "file": "css/header.css",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/header.min.css"
        }
      },
      {
        "file": "css/main.css",
        "config": {
          "autoCompile": true,
          "customOutput": "css\\main.min.css"
        }
      },
      {
        "file": "css/resumen.css",
        "config": {
          "autoCompile": true,
          "customOutput": "css\\resumen.min.css"
        }
      },
      {
        "file": "imagenes/ilustracionHeaderLeft.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 50
              }
            }
          },
          "customOutput": "imagenes\\ilustracionHeaderLeft-opt.png",
          "originalSize": 18415,
          "optimized": true
        }
      },
      {
        "file": "imagenes/ilustracionHeaderRight.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 50
              }
            }
          },
          "customOutput": "imagenes\\ilustracionHeaderRight-opt.png",
          "originalSize": 18280,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/casosActivos.png",
        "config": {
          "originalSize": 2626,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/casosNuevos.png",
        "config": {
          "originalSize": 5224,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/check.png",
        "config": {
          "originalSize": 2358,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/negativo.png",
        "config": {
          "originalSize": 2087,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/none.png",
        "config": {
          "originalSize": 2392,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/pcr.png",
        "config": {
          "originalSize": 2392,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/positivo.png",
        "config": {
          "originalSize": 2069,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/sintomas.png",
        "config": {
          "originalSize": 1602,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/totalCasos.png",
        "config": {
          "originalSize": 3068,
          "optimized": true
        }
      },
      {
        "file": "imagenes/resumen/ventiladores.png",
        "config": {
          "originalSize": 3227,
          "optimized": true
        }
      }
    ]
  }
}
