
doctype html
html
	head

		title Dashboard COVID-19

		meta( http-equiv='Content-Type', content='text/html; charset=UTF-8' )
		meta( http-equiv='Cache-control' , content='no-cache' )
		meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1' )
		
		link(rel='shortcut icon', href='./imagenes/favicon.png')
		
		script( language='Javascript', type='text/javascript', src='./js//jquery-3.5.0.min.js' )

		meta(property='og:title', content='Dashboard COVID-19')
		meta(property='og:description', content='Todos los datos en bruto')
		meta(property='og:site_name', content='Dashboard COVID-19')
		meta(property='og:type', content='product')
		meta(property='og:url', content='https://www.volatil.cl/covid19')
		meta(property='og:image', content='./imagenes/corona200x200.jpg')
		meta(property='og:image:alt', content='./imagenes/corona200x200.jpg')

	body

		include ../_components/header
		
		link(rel='stylesheet', href='./css/dashboard.min.css')

		div#extraeData
			select
				option( value='nan' ) 
				option( value='Casos Totales' ) Casos Totales
				option( value='Contagiados Por Día' ) Contagiados Por Día
				option( value='Fallecidos Por Día' ) Fallecidos Por Día
				option( value='Recuperados Por Día' ) Recuperados Por Día
				option( value='Reporte WhatsApp' ) Reporte WhatsApp
			button.obtener Obtener
			button.limpiar Limpiar
			br
			textarea#dataLista
			button#copiarCodigo( onclick='myFunction()' ) Copiar

		table
			thead.tituloGrande
				tr
					td(colspan=7) Tabla General
			thead.tituloChico
				tr
					td Fecha
					td Casos Contagiados (POR DIA)
					td Casos Contagiados (TOTAL)
					td Fallecidos (POR DIA)
					td Fallecidos (TOTAL)
					td Recuperados (POR DIA)
					td Recuperados (TOTAL)
			tbody
				tr
					td.fecha 3 de Marzo
					td.contagiadosPorDia 1
					td.contagiadosTotal 1
					td.fallecidosPorDia 0
					td.fallecidosTotal 0
					td.recuperadosPorDia 0
					td.recuperadosTotal 0
				tr
					td.fecha 4 de Marzo
					td.contagiadosPorDia 2
					td.contagiadosTotal 3
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 5 de Marzo
					td.contagiadosPorDia 1
					td.contagiadosTotal 4
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 6 de Marzo
					td.contagiadosPorDia 1
					td.contagiadosTotal 5
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 7 de Marzo
					td.contagiadosPorDia 2
					td.contagiadosTotal 7
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 8 de Marzo
					td.contagiadosPorDia 3
					td.contagiadosTotal 10
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 9 de Marzo
					td.contagiadosPorDia 3
					td.contagiadosTotal 13
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 10 de Marzo
					td.contagiadosPorDia 4
					td.contagiadosTotal 17
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 11 de Marzo
					td.contagiadosPorDia 6
					td.contagiadosTotal 23
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 12 de Marzo
					td.contagiadosPorDia 11
					td.contagiadosTotal 34
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 13 de Marzo
					td.contagiadosPorDia 9
					td.contagiadosTotal 43
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 14 de Marzo
					td.contagiadosPorDia 18
					td.contagiadosTotal 61
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 15 de Marzo
					td.contagiadosPorDia 14
					td.contagiadosTotal 75
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 16 de Marzo
					td.contagiadosPorDia 81
					td.contagiadosTotal 156
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 0
				tr
					td.fecha 17 de Marzo
					td.contagiadosPorDia 45
					td.contagiadosTotal 201
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 1
				tr
					td.fecha 18 de Marzo
					td.contagiadosPorDia 37
					td.contagiadosTotal 238
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 3
				tr
					td.fecha 19 de Marzo
					td.contagiadosPorDia 104
					td.contagiadosTotal 342
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 5
				tr
					td.fecha 20 de Marzo
					td.contagiadosPorDia 92
					td.contagiadosTotal 434
					td.fallecidosPorDia
					td.fallecidosTotal 0
					td.recuperadosPorDia
					td.recuperadosTotal 6
				tr
					td.fecha 21 de Marzo
					td.contagiadosPorDia 103
					td.contagiadosTotal 537
					td.fallecidosPorDia
					td.fallecidosTotal 1
					td.recuperadosPorDia
					td.recuperadosTotal 8
				tr
					td.fecha 22 de Marzo
					td.contagiadosPorDia 95
					td.contagiadosTotal 632
					td.fallecidosPorDia
					td.fallecidosTotal 1
					td.recuperadosPorDia
					td.recuperadosTotal 8
				tr
					td.fecha 23 de Marzo
					td.contagiadosPorDia 114
					td.contagiadosTotal 746
					td.fallecidosPorDia
					td.fallecidosTotal 2
					td.recuperadosPorDia
					td.recuperadosTotal 11
				tr
					td.fecha 24 de Marzo
					td.contagiadosPorDia 176
					td.contagiadosTotal 922
					td.fallecidosPorDia
					td.fallecidosTotal 2
					td.recuperadosPorDia
					td.recuperadosTotal 17
				tr
					td.fecha 25 de Marzo
					td.contagiadosPorDia 220
					td.contagiadosTotal 1142
					td.fallecidosPorDia
					td.fallecidosTotal 3
					td.recuperadosPorDia
					td.recuperadosTotal 22
				tr
					td.fecha 26 de Marzo
					td.contagiadosPorDia 164
					td.contagiadosTotal 1306
					td.fallecidosPorDia
					td.fallecidosTotal 4
					td.recuperadosPorDia
					td.recuperadosTotal 33
				tr
					td.fecha 27 de Marzo
					td.contagiadosPorDia 304
					td.contagiadosTotal 1610
					td.fallecidosPorDia
					td.fallecidosTotal 5
					td.recuperadosPorDia
					td.recuperadosTotal 43
				tr
					td.fecha 28 de Marzo
					td.contagiadosPorDia 299
					td.contagiadosTotal 1909
					td.fallecidosPorDia
					td.fallecidosTotal 6
					td.recuperadosPorDia
					td.recuperadosTotal 61
				tr
					td.fecha 29 de Marzo
					td.contagiadosPorDia 230
					td.contagiadosTotal 2139
					td.fallecidosPorDia
					td.fallecidosTotal 7
					td.recuperadosPorDia
					td.recuperadosTotal 75
				tr
					td.fecha 30 de Marzo
					td.contagiadosPorDia 310
					td.contagiadosTotal 2449
					td.fallecidosPorDia
					td.fallecidosTotal 8
					td.recuperadosPorDia
					td.recuperadosTotal 156
				tr
					td.fecha 31 de Marzo
					td.contagiadosPorDia 289
					td.contagiadosTotal 2738
					td.fallecidosPorDia
					td.fallecidosTotal 12
					td.recuperadosPorDia
					td.recuperadosTotal 156
				tr
					td.fecha 1 de Abril
					td.contagiadosPorDia 293
					td.contagiadosTotal 3031
					td.fallecidosPorDia
					td.fallecidosTotal 16
					td.recuperadosPorDia
					td.recuperadosTotal 234
				tr
					td.fecha 2 de Abril
					td.contagiadosPorDia 373
					td.contagiadosTotal 3404
					td.fallecidosPorDia
					td.fallecidosTotal 18
					td.recuperadosPorDia
					td.recuperadosTotal 335
				tr
					td.fecha 3 de Abril
					td.contagiadosPorDia 333
					td.contagiadosTotal 3737
					td.fallecidosPorDia
					td.fallecidosTotal 22
					td.recuperadosPorDia
					td.recuperadosTotal 427
				tr
					td.fecha 4 de Abril
					td.contagiadosPorDia 424
					td.contagiadosTotal 4161
					td.fallecidosPorDia
					td.fallecidosTotal 27
					td.recuperadosPorDia
					td.recuperadosTotal 528
				tr
					td.fecha 5 de Abril
					td.contagiadosPorDia 310
					td.contagiadosTotal 4471
					td.fallecidosPorDia
					td.fallecidosTotal 34
					td.recuperadosPorDia
					td.recuperadosTotal 617
				tr
					td.fecha 6 de Abril
					td.contagiadosPorDia 344
					td.contagiadosTotal 4815
					td.fallecidosPorDia
					td.fallecidosTotal 37
					td.recuperadosPorDia
					td.recuperadosTotal 728
				tr
					td.fecha 7 de Abril
					td.contagiadosPorDia 301
					td.contagiadosTotal 5116
					td.fallecidosPorDia
					td.fallecidosTotal 43
					td.recuperadosPorDia
					td.recuperadosTotal 898
				tr
					td.fecha 8 de Abril
					td.contagiadosPorDia 430
					td.contagiadosTotal 5546
					td.fallecidosPorDia
					td.fallecidosTotal 48
					td.recuperadosPorDia
					td.recuperadosTotal 1115
				tr
					td.fecha 9 de Abril
					td.contagiadosPorDia 426
					td.contagiadosTotal 5972
					td.fallecidosPorDia
					td.fallecidosTotal 57
					td.recuperadosPorDia
					td.recuperadosTotal 1274
				tr
					td.fecha 10 de Abril
					td.contagiadosPorDia 529
					td.contagiadosTotal 6501
					td.fallecidosPorDia
					td.fallecidosTotal 65
					td.recuperadosPorDia
					td.recuperadosTotal 1571
				tr
					td.fecha 11 de Abril
					td.contagiadosPorDia 426
					td.contagiadosTotal 6927
					td.fallecidosPorDia
					td.fallecidosTotal 73
					td.recuperadosPorDia
					td.recuperadosTotal 1909
				tr
					td.fecha 12 de Abril
					td.contagiadosPorDia 286
					td.contagiadosTotal 7213
					td.fallecidosPorDia
					td.fallecidosTotal 80
					td.recuperadosPorDia
					td.recuperadosTotal 2059
				tr
					td.fecha 13 de Abril
					td.contagiadosPorDia 312
					td.contagiadosTotal 7525
					td.fallecidosPorDia
					td.fallecidosTotal 82
					td.recuperadosPorDia
					td.recuperadosTotal 2367
				tr
					td.fecha 14 de Abril
					td.contagiadosPorDia 392
					td.contagiadosTotal 7917
					td.fallecidosPorDia
					td.fallecidosTotal 92
					td.recuperadosPorDia
					td.recuperadosTotal 2646
				tr
					td.fecha 15 de Abril
					td.contagiadosPorDia 356
					td.contagiadosTotal 8273
					td.fallecidosPorDia
					td.fallecidosTotal 94
					td.recuperadosPorDia
					td.recuperadosTotal 2937
				tr
					td.fecha 16 de Abril
					td.contagiadosPorDia 534
					td.contagiadosTotal 8807
					td.fallecidosPorDia
					td.fallecidosTotal 105
					td.recuperadosPorDia
					td.recuperadosTotal 3299
				tr
					td.fecha 17 de Abril
					td.contagiadosPorDia 445
					td.contagiadosTotal 9252
					td.fallecidosPorDia
					td.fallecidosTotal 116
					td.recuperadosPorDia
					td.recuperadosTotal 3621
				tr
					td.fecha 18 de Abril
					td.contagiadosPorDia 478
					td.contagiadosTotal 9730
					td.fallecidosPorDia
					td.fallecidosTotal 126
					td.recuperadosPorDia
					td.recuperadosTotal 4035
				tr
					td.fecha 19 de Abril
					td.contagiadosPorDia 358
					td.contagiadosTotal 10088
					td.fallecidosPorDia
					td.fallecidosTotal 133
					td.recuperadosPorDia
					td.recuperadosTotal 4338
				tr
					td.fecha 20 de Abril
					td.contagiadosPorDia 419
					td.contagiadosTotal 10507
					td.fallecidosPorDia
					td.fallecidosTotal 139
					td.recuperadosPorDia
					td.recuperadosTotal 4676
				tr
					td.fecha 21 de Abril
					td.contagiadosPorDia 325
					td.contagiadosTotal 10832
					td.fallecidosPorDia
					td.fallecidosTotal 147
					td.recuperadosPorDia
					td.recuperadosTotal 4969
				tr
					td.fecha 22 de Abril
					td.contagiadosPorDia 464
					td.contagiadosTotal 11296
					td.fallecidosPorDia
					td.fallecidosTotal 160
					td.recuperadosPorDia
					td.recuperadosTotal 5386
				tr
					td.fecha 23 de Abril
					td.contagiadosPorDia 516
					td.contagiadosTotal 11812
					td.fallecidosPorDia
					td.fallecidosTotal 168
					td.recuperadosPorDia
					td.recuperadosTotal 5804
				tr
					td.fecha 24 de Abril
					td.contagiadosPorDia 494
					td.contagiadosTotal 12306
					td.fallecidosPorDia
					td.fallecidosTotal 174
					td.recuperadosPorDia
					td.recuperadosTotal 6327
				tr
					td.fecha 25 de Abril
					td.contagiadosPorDia 552
					td.contagiadosTotal 12858
					td.fallecidosPorDia
					td.fallecidosTotal 181
					td.recuperadosPorDia
					td.recuperadosTotal 6746
				tr
					td.fecha 26 de Abril 
					td.contagiadosPorDia 473
					td.contagiadosTotal 13331
					td.fallecidosPorDia
					td.fallecidosTotal 189
					td.recuperadosPorDia
					td.recuperadosTotal 7024
				tr
					td.fecha 27 de Abril
					td.contagiadosPorDia 482
					td.contagiadosTotal 13813
					td.fallecidosPorDia
					td.fallecidosTotal 198
					td.recuperadosPorDia
					td.recuperadosTotal 7327
				tr
					td.fecha 28 de Abril
					td.contagiadosPorDia 552
					td.contagiadosTotal 14365
					td.fallecidosPorDia
					td.fallecidosTotal 207
					td.recuperadosPorDia
					td.recuperadosTotal 7710
				tr
					td.fecha 29 de Abril
					td.contagiadosPorDia 520
					td.contagiadosTotal 14885
					td.fallecidosPorDia
					td.fallecidosTotal 216
					td.recuperadosPorDia
					td.recuperadosTotal 8057
				tr
					td.fecha 30 de Abril
					td.contagiadosPorDia 888
					td.contagiadosTotal 16025
					td.fallecidosPorDia
					td.fallecidosTotal 227
					td.recuperadosPorDia
					td.recuperadosTotal 8580
				tr
					td.fecha 1 de Mayo
					td.contagiadosPorDia 985
					td.contagiadosTotal 17008
					td.fallecidosPorDia
					td.fallecidosTotal 234
					td.recuperadosPorDia
					td.recuperadosTotal 9018
				tr
					td.fecha 2 de Mayo
					td.contagiadosPorDia 1427
					td.contagiadosTotal 18435
					td.fallecidosPorDia
					td.fallecidosTotal 247
					td.recuperadosPorDia
					td.recuperadosTotal 9572
				tr
					td.fecha 3 de Mayo
					td.contagiadosPorDia 1228
					td.contagiadosTotal 19663
					td.fallecidosPorDia
					td.fallecidosTotal 260
					td.recuperadosPorDia
					td.recuperadosTotal 10041

			script.
				$( document ).ready(function(){

					// Calcula datos por dia de FALLECIDOS DIA y RECUPERADOS DIA
					$.each( $( "table tbody tr" ) , function(){
						
						var fallecidosTotal				= parseInt( $( this ).find( "td.fallecidosTotal" ).html() );
						var fallecidosTotalSiguiente	= parseInt( $( this ).next().find( "td.fallecidosTotal" ).html() );
						var recuperadosTotal				= parseInt( $( this ).find( "td.recuperadosTotal" ).html() );
						var recuperadosTotalSiguiente	= parseInt( $( this ).next().find( "td.recuperadosTotal" ).html() );
						
						if( $( this ).next( "tr" ).length >= 1 ) {
							$( this ).next().find( "td.fallecidosPorDia" ).html( parseInt(fallecidosTotalSiguiente - fallecidosTotal) );
							$( this ).next().find( "td.recuperadosPorDia" ).html( parseInt(recuperadosTotalSiguiente - recuperadosTotal) );
						};

					});

					// Extrae y parsea data

					$( "#extraeData button.obtener" ).click(function(){
						var obtenerVal = $( "#extraeData > select" ).val();
						switch ( obtenerVal ) {
							case "Casos Totales" :
								
									var todaData = "['Fecha', 'Contagiados (Total)', 'Fallecidos (Total)', 'Recuperados (Total)'],\n";

									$.each( $( "table tbody tr" ) , function(){
										var tabla = {
											"fecha" 						: $( this ).find( ".fecha" ).html() ,
											"contagiadosPorDia" 	: $( this ).find( ".contagiadosPorDia" ).html() ,
											"contagiadosTotal" 		: $( this ).find( ".contagiadosTotal" ).html() ,
											"fallecidosPorDia" 		: $( this ).find( ".fallecidosPorDia" ).html() ,
											"fallecidosTotal" 			: $( this ).find( ".fallecidosTotal" ).html() ,
											"recuperadosPorDia" 	: $( this ).find( ".recuperadosPorDia" ).html() ,
											"recuperadosTotal" 	: $( this ).find( ".recuperadosTotal" ).html() ,
										};

										todaData += "['" + tabla.fecha +"'," + tabla.contagiadosTotal + "," + tabla.fallecidosTotal + "," + tabla.recuperadosTotal + "],\n";

									});

									$( "#extraeData textarea" ).val( todaData );
								break;

							case "Contagiados Por Día" :

									var todaData = "['Fecha', 'Contagiados (Por Día)'],\n";
								
									$.each( $( "table tbody tr" ) , function(){
										var tabla = {
											"fecha" 						: $( this ).find( ".fecha" ).html() ,
											"contagiadosPorDia" 	: $( this ).find( ".contagiadosPorDia" ).html() ,
										};

										todaData += "['" + tabla.fecha +"'," + tabla.contagiadosPorDia + "],\n";

									});

									$( "#extraeData textarea" ).val( todaData );

								break;

							case "Fallecidos Por Día" :
								
								var todaData = "['Fecha', 'Fallecidos (Por Día)'],\n";
								
								$.each( $( "table tbody tr" ) , function(){
									var tabla = {
										"fecha" 						: $( this ).find( ".fecha" ).html() ,
										"fallecidosPorDia" 	: $( this ).find( ".fallecidosPorDia" ).html() ,
									};

									todaData += "['" + tabla.fecha +"'," + tabla.fallecidosPorDia + "],\n";

								});

								$( "#extraeData textarea" ).val( todaData );

								break;
							case "Recuperados Por Día" :
								
								var todaData = "['Fecha', 'Recuperados (Por Día)'],\n";
								
								$.each( $( "table tbody tr" ) , function(){
									var tabla = {
										"fecha" 						: $( this ).find( ".fecha" ).html() ,
										"recuperadosPorDia" 	: $( this ).find( ".recuperadosPorDia" ).html() ,
									};

									todaData += "['" + tabla.fecha +"'," + tabla.recuperadosPorDia + "],\n";

								});

								$( "#extraeData textarea" ).val( todaData );

								break;
							case "Reporte WhatsApp" :

								var todaData = "*Reporte*\n\n";
								
								$.each( $( "table tbody tr" ) , function(){
									var tabla = {
										"fecha" 						: $( this ).find( ".fecha" ).html() ,
										"contagiadosTotal" 	: $( this ).find( ".contagiadosTotal" ).html() ,
										"fallecidosPorDia" 	: $( this ).find( ".fallecidosPorDia" ).html() ,
									};

									todaData += "*" + tabla.fecha + "*\n";
									todaData += "" + tabla.contagiadosTotal + " Contagiados\n";
									todaData += "" + tabla.fallecidosPorDia + " Fallecidos\n";
									todaData += "\n";

								});

								var largoDataTotal 	= todaData.split( "\n" ).length;
								var largoDataCorte = todaData.split( "\n" ).length-61;
								var totalData = todaData.split( "\n" ).slice( largoDataCorte , largoDataTotal-5 );

								$( "#extraeData textarea" ).val( totalData );
								$( "#extraeData textarea" ).val( $( "#extraeData textarea" ).val().replace(/\,/g, "\n") );

								var dataWsp 					= $( "#extraeData textarea" ).val();
								 	dataWsp 					+= "\n";
								 	dataWsp 					+= "*HOY " + $( "tr td.fecha" ).last().html().toUpperCase() + "*\n\n";
								 	dataWsp 					+= "*Casos Contagiados (POR DIA):* " + $( "tr td.contagiadosPorDia" ).last().html() + "\n";
								 	dataWsp 					+= "*Casos Contagiados (TOTAL):* " + $( "tr td.contagiadosTotal" ).last().html() + "\n";
								 	
								 	dataWsp 					+= "*Fallecidos (POR DIA):* " + $( "tr td.fallecidosPorDia" ).last().html() + "\n";
								 	dataWsp 					+= "*Fallecidos (TOTAL):* " + $( "tr td.fallecidosTotal" ).last().html() + "\n";
								 	dataWsp 					+= "*Recuperados (POR DIA):* " + $( "tr td.recuperadosPorDia" ).last().html() + "\n";
								 	dataWsp 					+= "*Recuperados (TOTAL):* " + $( "tr td.recuperadosTotal" ).last().html() + "\n";

								$( "#extraeData textarea" ).val( dataWsp );
								
								break;
						};
					});

					document.querySelector("#copiarCodigo").onclick=function(){
						document.querySelector("#dataLista").select(),
						document.execCommand("copy")
					}

					$( "#extraeData button.limpiar" ).click(function(){
						$( "#extraeData textarea" ).val( "" );
					});

				});	

			include ../_components/footer