doctype html
html
	head

		title COVID 19 | Experimentos

		include ../_components/meta

	body

		include ../_components/header

		style.
			html {
				height: 100%;
			}
			body {
				height: 100%;
				font-family: Arial, Helvetica, sans-serif;
			}
			body > h1 ,
			body > p {
				text-align: center;
			}
			#TotalesNacionales > div {
				width: 90%;
				margin: 40px auto 0;
				overflow-x: scroll;
				border: 1px solid white;
				padding: 10px;
			}

		script.
			var traeCovid = function( donde , url ){
				$.ajax({
					url: url ,
					dataType:"text",
					success:function(data) {
						var data_toda = data.split(/\r?\n|\r/);
						var table_data = '<table>';
						for(var count = 0; count<data_toda.length; count++) {
							var cell_data = data_toda[count].split(",");
							table_data += '<tr>';
							for(var cell_count=0; cell_count<cell_data.length; cell_count++) {
								if(count === 0) {
									table_data += '<th>'+cell_data[cell_count]+'</th>';
								} else {
									table_data += '<td>'+cell_data[cell_count]+'</td>';
								}
							}
							table_data += '</tr>';
						}
						table_data += '</table>';
						$( donde ).html( "<div>" + table_data + "</div>" );
					}
				});
			};

		h1 Totales Nacionales Diarios
		p Casos nuevos confirmados, totales o acumulados, recuperados, fallecidos a nivel nacional y activos según fecha de diagnóstico, reportados diariamente por el Ministerio de Salud desde el 03-03-2020.
		div#TotalesNacionales
		div#TotalesNacionales-grafico( style='width: 100%; height: 500px;' )
			
		script.
			traeCovid( "#TotalesNacionales" , "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto5/TotalesNacionales.csv" );

		script.
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(drawChart);

			function drawChart() {
				var data = google.visualization.arrayToDataTable([
					['Fecha', 'Casos nuevos con sintomas', 'Casos totales', 'Casos recuperados', 'Fallecidos', 'Casos activos', 'Casos nuevos sin sintomas', 'Casos nuevos totales'],
					['0',  0,      0,      0,      0,      0,      0,      0],
				]);

				var options = {
					title: 'Casos Nuevos / Casos Totales',
					hAxis: {title: 'Fecha',  titleTextStyle: {color: '#333'}},
					vAxis: {minValue: 0}
				};

				var chart = new google.visualization.AreaChart(document.getElementById('TotalesNacionales-grafico'));
				chart.draw(data, options);










					for ( sumaTR = 1 ; sumaTR <= $( $( "#TotalesNacionales table tr" )[2] ).find( "td" ).length-1 ; sumaTR++  ) {
					
						var fecha 			= $( $( $( "#TotalesNacionales table tr" )[0] ).find( "th" )[sumaTR] ).html()
						var campo1		= $( $( $( "#TotalesNacionales table tr" )[1] ).find( "td" )[sumaTR] ).html()
						var campo2		= $( $( $( "#TotalesNacionales table tr" )[2] ).find( "td" )[sumaTR] ).html()
						var campo3		= $( $( $( "#TotalesNacionales table tr" )[3] ).find( "td" )[sumaTR] ).html()
						var campo4		= $( $( $( "#TotalesNacionales table tr" )[4] ).find( "td" )[sumaTR] ).html()
						var campo5		= $( $( $( "#TotalesNacionales table tr" )[5] ).find( "td" )[sumaTR] ).html()
						var campo6		= $( $( $( "#TotalesNacionales table tr" )[6] ).find( "td" )[sumaTR] ).html()
						if ( campo6 == "" )  {
							var campo6 = "0.0";
						};
						var campo7		= $( $( $( "#TotalesNacionales table tr" )[7] ).find( "td" )[sumaTR] ).html()
						
						var totalTodo 	= '[["' + fecha + '",' + campo1 + ', ' + campo2 + ', ' + campo3 + ', ' + campo4 + ', ' + campo5 + ', ' + campo6 + ', ' + campo7 + ']]';
						console.log( totalTodo );
						data.addRows(JSON.parse(totalTodo));

					}

					/*
					var hola = '[["2017", 1000, 400, 200, 300, 400, 800, 100],["2018", 1000, 400, 300, 200, 400, 900, 200],["2019", 500, 600, 100, 700, 500, 300, 800],["2020", 1300, 100, 500, 800, 400, 100, 200]]';
					data.addRows(JSON.parse(hola));
					*/

					var chart = new google.visualization.AreaChart(document.getElementById('TotalesNacionales-grafico'));
					chart.draw(data, options);




			}


		h1 Exámenes PCR por región
		p Número de exámenes PCR realizados por región reportados diariamente por el Ministerio de Salud, desde el 09-04-2020.
		div#producto7
		script.
			traeCovid( "#producto7" , "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto7/PCR_T.csv" );

		h1 Numero de ventiladores
		div#ventiladores
		script.
			traeCovid( "#ventiladores" , "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/ReporteDiario/NumeroVentiladores.csv" );

		h1 Fallecidos por Rango Etario
		div#FallecidosEtario
		script.
			traeCovid( "#FallecidosEtario" , "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/ReporteDiario/FallecidosEtario.csv" );
			
		include ../_components/footer