doctype html
html( lang="es" )
	head

		title COVID 19 | Data Chile

		include ../_components/meta

	body

		include ../_components/header

		include ../_components/ilustracionHeader

		script.
			var traeCovid = function( donde , url ){
				$.ajax({
					url: url ,
					dataType:"text",
					success:function(data) {
						var data_toda = data.split(/\r?\n|\r/);
						var table_data = '<table>';
						for(var count = 0; count<data_toda.length; count++) {
							var cell_data = data_toda[count].split(",");
							table_data += '<tr>';
							for(var cell_count=0; cell_count<cell_data.length; cell_count++) {
								if(count === 0) {
									table_data += '<th>'+cell_data[cell_count]+'</th>';
								} else {
									table_data += '<td>'+cell_data[cell_count]+'</td>';
								}
							}
							table_data += '</tr>';
						}
						table_data += '</table>';
						$( donde ).html( "<div>" + table_data + "</div>" );
						//- FIX: Deja los campos vacios con valor 0
						for( var uwu = 1; uwu <= $( "#TotalesNacionales table tbody tr td" ).length; uwu++ ) {
							if( $( $( "#TotalesNacionales table tbody tr td" )[uwu] ).html() == "" ) {
								$( $( "#TotalesNacionales table tbody tr td" )[uwu] ).html( "0" );
							}
						}
					}
				});
			};



		include ../_components/data/resumen

		.graficos
			include ../_components/data/casosTotales

			.tabs.contagiosDia
				.tab
					p Contagios Por Día
					div
						include ../_components/data/contagiosPorDia
				.tab
					p Casos Activos Por Día
					div
						include ../_components/data/casosActivosPorDia
				//- .tab
				//- 	p Recuperados Por Día
				//- 	div
				//- 		include ../_components/data/recuperadosPorDia
				.tab
					p Fallecidos Por Día
					div
						include ../_components/data/fallecidosPorDia
			
			include ../_components/data/contagiosPorRegion

			.tabs
				.tab
					p UCI Reg. Metrop.
					div
						include ../_components/data/uciRM 
				.tab
					p UCI Regiones
					div
						include ../_components/data/uciPorRegion

			.tabs
				.tab
					p PCR Reg. Metrop.
					div
						include ../_components/data/pcrRM
				.tab
					p PCR Regiones
					div
						include ../_components/data/pcrPorRegion

			include ../_components/data/ventiladores
			include ../_components/data/rangoEtario
			
			//- TESTING
			include ../_components/data/residenciasSanitarias
			

			//- TABS
			script.
				setTimeout(function(){
					$( ".graficos .tabs .tab > div" ).css( "position" , "absolute" );

					$.each( $( ".graficos .tabs" ) , function(){
						$( $( this ).find( ".tab ")[0] ).find( "> p" ).addClass( "activo" );
						$( $( this ).find( ".tab ")[0] ).find( "> p" ).click();
					});
				},1000);
				$( ".graficos .tabs .tab" ).click(function(){

					$( this ).parent().find( ".tab > p" ).removeClass( "activo" );
					$( this ).find( "> p" ).addClass( "activo" );

					$( this ).parent().find( ".tab > div" ).css( "visibility" , "hidden" );
					$( this ).find( "> div" ).css( "visibility" , "initial" );
				
				});


			script.
				$( document ).ready(function(){

					//- Si no carga RESUMEN
					setTimeout(function(){
						if ( $( "div#resumen .resumen.totalCasos > div.cifras" ).html().length <= 88  ) {
							console.log( "Reload ... 1" );
							location.reload();
						};
					},3000);

					//- Si no carga GRAFICO
					/*
					if ( $( document ).width() >= 768 ) {
						setTimeout(function(){
							if ( $( "defs#_ABSTRACT_RENDERER_ID_2" ).parent().html().split( "2020-04-25" ).length <= 1 ) {
								console.log( "Reload ... 2" );
								location.reload();
							};
						},5000);
					};
					*/

				});

		include ../_components/footer

		//- MODAL
		include ../_components/modal_dataDesactualizada