
@import 'variables';

// ===================================================================================================
// NAV
// ===================================================================================================

header nav ul li.darkmode {
	padding: 0 20px;
}
header nav ul li.darkmode > img {
	width: 25px;
}
header nav ul li.darkmode > p {
	display: inline-block;
	padding-left: 10px;
	font-weight: 100;
	letter-spacing: 0.05em;
	font-size: 1.3em;
}
header nav ul li.darkmode > p > strong {
	text-transform: uppercase;
	font-size: 0.5em;
	color: $representativo;
}
.toggle-container {
	display: flex;
	align-items: center;
	margin: 10px 0;
	width: 200px;
}
.toggle-container .toggle {
	visibility: hidden;
}
.toggle-container .label {
	background-color: #d0d0d0;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	margin: 0 15px 0;
	width: 80px;
	height: 40px;
	position: relative;
}

.toggle-container .toggle:checked + .label {
	background-color: $representativo;
}
.toggle-container .bolita {
	background: #fff;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	left: 3px;
	align-items: center;
	justify-content: center;
	animation: Desactivado 0.3s linear forwards;
}
.toggle-container .toggle:checked + .label .bolita {
	animation: Activado 0.3s linear forwards;
}

@keyframes Activado {
	0% {
		transform: translateX(0) scale(1);
	}
	50% {
		transform: translateX(20px) scale(1.2);
	}
	100% {
		transform: translateX(40px) scale(1);
	}
}

@keyframes Desactivado {
	0% {
		transform: translateX(40px) scale(1);
	}
	50% {
		transform: translateX(20px) scale(1.2);
	}
	100% {
		transform: translateX(0) scale(1);
	}
}

// ===================================================================================================
// SITIO
// ===================================================================================================


body.darkmode-si {
	background: #303030 !important;
}
body.darkmode-si .grafico ,
body.darkmode-si .graficos .grafico svg[aria-label="A chart."]  rect ,
body.darkmode-si #resumen .resumen {
	background: #181818 !important;
	// fill: #181818 !important;
}
body.darkmode-si table , 
body.darkmode-si #resumen > div.fecha > p {
	background: #0f0f0f !important;
	color: white !important;
}
body.darkmode-si table tbody tr td ,
body.darkmode-si .grafico > h1 ,
body.darkmode-si .grafico > h2,
body.darkmode-si .grafico > p ,
body.darkmode-si #resumen .resumen > div.cifras > span.numero {
	color: white !important;
}
body.darkmode-si .graficos .grafico text {
	fill: white;
}

