
@import 'variables';

.graficos {
	padding: 40px 0 100px;
	width: 80%;
	margin: 0 auto;
}
.graficos .grafico {
	width: 95%;
	height: 400px;
	margin: 0 1% 1% 0;
	display: inline-block;
	box-shadow: 1px 13px 26px -33px black;
	-webkit-transition: all .2s ease;
	-moz-transition:    all .2s ease;
	-o-transition:      all .2s ease;
	transition:         all .2s ease;
}
	.graficos .grafico:hover {
		box-shadow: none;
		-webkit-transition: all .2s ease;
		-moz-transition:    all .2s ease;
		-o-transition:      all .2s ease;
		transition:         all .2s ease;
	}

.graficos .tabs {
	position: relative;
	height: 500px;
	margin-top: 50px;
	margin-bottom: 60px;
}
.graficos .tabs .tab {
	top: 0;
	position: relative;
}
.graficos .tabs .tab > div {
	top: 0;
	left: 0;
	width: 100%;
}
.graficos .tabs .tab > p {
	position: absolute;
	z-index: 1;
	cursor: pointer;
	background: #efefef;
	top: -55px;
	padding: 10px 15px;
}
.graficos .tabs .tab > p:hover ,
.graficos .tabs .tab > p.activo {
	background: white;
}
.graficos .tabs .tab > p.activo {
	font-weight: bold;
}
.graficos .tabs .tab:nth-child( 2 ) > p {
    margin-left: 160px;
}
.graficos .tabs .tab:nth-child( 3 ) > p {
    margin-left: 340px;
}

/*
================================
=> CONTAGIOS POR REGION
================================
*/

.grafico#contagiosPorRegion-grafico {
	background: white;
	padding-bottom: 140px;
}
.grafico#contagiosPorRegion-grafico > h1 {
	padding-top: 20px;
	text-align: center;
	margin: 0;
	font-size: 1.1em;
	margin-bottom: 10px;
}
.grafico#contagiosPorRegion-grafico > h2 ,
.grafico#contagiosPorRegion-grafico > p {
	font-size: .9em;
	font-weight: 400;
	text-align: center;
	margin: 0;
}
.grafico#contagiosPorRegion-grafico > h2 span ,
.grafico#contagiosPorRegion-grafico > p span {
	font-weight: 600;
}
.grafico#contagiosPorRegion-grafico > form {}
.grafico#contagiosPorRegion-grafico > form > input {
	margin: 10px auto 0;
	display: block;
	padding: 7px 10px;
	width: 250px;
}
.grafico#contagiosPorRegion-grafico > div {
	height: 98%;
	overflow-y: scroll;
	margin-top: 20px;
}
.grafico#contagiosPorRegion-grafico > div > table {
	margin: 20px auto 0;
	border: none;
}
.grafico#contagiosPorRegion-grafico > div > table thead tr td {
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	padding-left: 10px;
}
.grafico#contagiosPorRegion-grafico > div > table tbody tr {
	height: 30px;
}
	.grafico#contagiosPorRegion-grafico > div > table tbody tr:hover ,
	.grafico#contagiosPorRegion-grafico > div > table tbody tr:nth-child( odd ) {
		background: #efefef94;
	}
.grafico#contagiosPorRegion-grafico > div > table tbody tr td {
	border: none;
	text-align: left;
	padding: 0 0 0 10px;
}
.grafico#contagiosPorRegion-grafico > div > table tbody tr.hide {
	display: none;
}
.grafico#contagiosPorRegion-grafico > div > table tbody tr.show {
	display: table-row;
}

/*
================================
=> CONTAGIOS POR REGION
================================
*/

.grafico#casosGeneroEtario-grafico {
	background: white;
}
.grafico#casosGeneroEtario-grafico > div {
	display: inline-block;
}
.grafico#casosGeneroEtario-grafico > div > ul {}
.grafico#casosGeneroEtario-grafico > div > ul > li {
	display: none;
	height: 30px;
}
.grafico#casosGeneroEtario-grafico > div.femenino > ul > li:nth-child(-n+17) {
	display: block;
}
.grafico#casosGeneroEtario-grafico > div.masculino > ul > li:nth-child(n+18) {
	display: block;
}

@media ( max-width: 768px ) {

	.graficos > #casosTotales ,
	.graficos .grafico {
		width: 96% !important;
		display: block;
		margin: 0 auto;
	}	
	.graficos {
		width: 100%;
	}
	.graficos .tabs {
		margin-top: 70px;
	}
	.graficos .tabs .tab > div {
		width: 96%;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	.graficos .tabs .tab > p {
		font-size: 0.8em;
		width: 70px;
		text-align: center;
		top: -63px;
		padding: 10px 10px;
	}
	.graficos .tabs .tab:nth-child( 1 ) > p {
		margin-left: 15px;
	}
	.graficos .tabs .tab:nth-child( 2 ) > p {
		margin-left: 108px;
	}
	.graficos .tabs .tab:nth-child( 3 ) > p {
		margin-left: 200px;
	}
	
}