
@import 'variables';

@import 'resumen';
@import 'header';
@import 'graficos';
@import 'dashboard';

html ,
body {
	/*
	background: red !important;
	*/
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
.ilustracionHeader {
	height: 155px;
	width: 100%;
	background: #3d2637;
	position: relative;
	overflow: hidden;
	top: -10px;
}
.ilustracionHeader > span {
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	width: 100%;
	display: block;
	color: white;
	font-size: 3em;
	line-height: 3em;
	position: absolute;
	z-index: 1;
	text-shadow: 0px 0px 18px #3d2637;
}
.ilustracionHeader > img {
	position: absolute;
}
.ilustracionHeader > img.left {
	left: 0px;
}
.ilustracionHeader > img.right {
	right: 0px;
}
@media( max-width: 600px ) {
	.ilustracionHeader > img.right {
		display: none;
	}
}
