
@import 'variables';

div#resumen {
	position: relative;
	width: 80%;
	margin: 20px auto 0;
}
div#resumen > div.fecha {
	height: 30px;
}
div#resumen > div.fecha > span.raya {
	position: absolute;
	z-index: 0;
	height: 1px;
	background: $c;
	width: 100%;
	display: block;
	top: 15px;
}
div#resumen > div.fecha > p {
	position: absolute;
	z-index: 1;
	background: whitesmoke;
	color: black;
	padding: 6px 10px;
	display: inline-block;
	top: 0;
	margin: 0 0 0 20px;
	font-weight: 500;
}
div#resumen .resumen {
	width: 305px;
	min-height: 90px;
	background: white;
	display: inline-block;
	padding: 20px 60px 20px 20px;
	margin: 0 10px 10px 0;
	position: relative;
}
div#resumen .resumen > div.icono {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	background: #3d2637;
}
div#resumen .resumen > div.icono > img {
	margin: 8px auto 0;
	display: block;
	padding-top: 7px;
	width: 50px;
}
div#resumen .resumen > p.titulo {
	color: black;
	font-weight: 500;
	width: 100%;
	position: relative;
	top: 0px;
	left: 90px;
	margin: 0;
	font-size: 1.1em;
	display: inline-block;
}
div#resumen .resumen > div.cifras {
	position: relative;
	top: 10px;
	left: 90px;
	display: inline-block;
}
div#resumen .resumen > div.cifras > span.numero {
	margin: 0;
	color: black;
	font-weight: 500;
	font-size: 3.1em;
}
div#resumen .resumen > div.cifras > span.numero > img ,
div#resumen .resumen.sintomas > div.sintoma > p > strong > img {
	width: 50px;
}
div#resumen .resumen > div.cifras > span.numero > span.estado {
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: 20px;
	right: -25px;
	background-size: .4em;
}
div#resumen .resumen > div.cifras.positivo > span.numero > span.estado {
	background-image: url( "../imagenes/resumen/positivo.png" );
}
div#resumen .resumen > div.cifras.negativo > span.numero > span.estado {
	background-image: url( "../imagenes/resumen/negativo.png" );
}
div#resumen .resumen > div.cifras > span.numero > span.porcentaje {
	font-size: 0.3em;
	font-weight: 500;
	position: absolute;
	top: 20px;
	text-align: left;
	width: 80px;
	right: -110px;
}
div#resumen .resumen > div.cifras.positivo > span.numero > span.porcentaje {
	color: $positivo;
}
div#resumen .resumen > div.cifras.negativo > span.numero > span.porcentaje {
	color: $negativo;
}
div#resumen .resumen > div.cifras.positivo > span.numero > span.porcentaje:before {
	content: "(+";
}
div#resumen .resumen > div.cifras.negativo > span.numero > span.porcentaje:before {
	content: "(";
}
div#resumen .resumen.sintomas > div.sintoma {
	width: calc( 100% - 95px );
	display: block;
	margin-left: 95px;
	margin-top: -10px;
	position: relative;
	top: 20px;
}
div#resumen .resumen.sintomas > div.sintoma > p {
	margin: 0;
	width: 45%;
	display: inline-block;
}
div#resumen .resumen.sintomas > div.sintoma > p.conSintomas {
	border-right: 1px dashed #dbd2fe;
	padding-right: 10px;
	margin-right: 10px;
}
div#resumen .resumen.sintomas > div.sintoma > p > strong {
	font-size: 2.3em;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
}
div#resumen .resumen.sintomas > div.sintoma > p > span {
	color: #886cfe;
	font-weight: 300;
	font-size: 0.9em;
	text-align: center;
	width: 100%;
	display: inline-block;
}

/* COLORES */
div#resumen .resumen.totalCasos > div.icono {
	background: #cde7ff;
}
div#resumen .resumen.casosNuevos > div.icono {
	background: #ffeab4;
}
div#resumen .resumen.casosActivos > div.icono ,
div#resumen .resumen.sintomas > div.icono {
	background: #dbd2fe;
}
div#resumen .resumen.fallecidosDia > div.icono {
	background: #ef9aa2;
}
div#resumen .resumen.recuperadosDia > div.icono {
	background: #d8f3d8;
}
div#resumen .resumen.ventiladoresDisponibles > div.icono {
	background: #dd447759;
}
div#resumen .resumen.examenesPCR > div.icono {
	background: #0099c659;
}
div#resumen .resumen.totalCasos > p.titulo {
	color: #1c7fdd;
}
div#resumen .resumen.casosNuevos > p.titulo {
	color: #ffbd02;
}
div#resumen .resumen.casosActivos > p.titulo ,
div#resumen .resumen.sintomas > p.titulo {
	color: #886cfe;
}
div#resumen .resumen.fallecidosDia > p.titulo {
	color: #c12f32;
}
div#resumen .resumen.recuperadosDia > p.titulo {
	color: #34c736;
}
div#resumen .resumen.ventiladoresDisponibles > p.titulo {
	color: #dd4477;
}
div#resumen .resumen.examenesPCR > p.titulo {
	color: #0099c6;
}

@media ( max-width: 768px ) {
	div#resumen {
		width: 100%;
	}
	div#resumen .resumen {
		width: 260px;
		min-height: 70px;
		margin: 0 auto 10px;
		padding: 20px 20px 35px 20px ;
		display: block;
	}
	div#resumen .resumen > p.titulo {
		width: auto;
		font-size: .8em;
	}
	div#resumen .resumen > div.cifras {
		display: table;
	}
	div#resumen .resumen > div.cifras > span.numero {
		font-size: 2.4em;
	}
	div#resumen .resumen > div.cifras > span.numero > span.estado {
		top: 40px;
		right: inherit;
		left: 0;
		background-size: 0.52em;
	}
	div#resumen .resumen > div.cifras > span.numero > span.porcentaje {
		right: auto;
		left: 24px;
		top: 45px;
	}
	div#resumen .resumen.sintomas > div.sintoma > p {
		width: 90%;
	}
	div#resumen .resumen.sintomas > div.sintoma > p.conSintomas {
		padding: 0;
		margin-bottom: 10px;
		border: none;
	}
	div#resumen .resumen.sintomas > div.sintoma > p > strong ,
	div#resumen .resumen.sintomas > div.sintoma > p > span {
		text-align: left;
	}
}