
//- https://es.wikipedia.org/wiki/Pandemia_de_enfermedad_por_coronavirus_de_2020_en_Chile#Estad%C3%ADsticas

 
div#container
	
	link( type='text/css' , media='all' , rel='stylesheet' , href='./css/cuentaRegresiva.min.css' )

	h1 COVID-19
	h1(style="display:none") Cuenta Regresiva

	div#countdown_dashboard
		
		div.dash.weeks_dash
			div.digit
			div.digit
			span.dash_title Semanas

		div.dash.days_dash
			div.digit
			div.digit
			span.dash_title Días

		div.dash.hours_dash
			div.digit
			div.digit
			span.dash_title Horas

		div.dash.minutes_dash
			div.digit
			div.digit
			span.dash_title Minutos

		div.dash.seconds_dash
			div.digit
			div.digit
			span.dash_title Segundos

	script.
		jQuery(document).ready(function() {
			$('#countdown_dashboard').countDown({
				targetDate: {
					'day': 		20,
					'month': 	4,
					'year': 	2020, 
					'hour': 	23,
					'min': 		23,
					'sec': 		23		
				},
			});
		});


		$( "#countdown_dashboard" ).hide();