
.ilustracionHeader
	img.left( data-src='./imagenes/ilustracionHeaderLeft-opt.png' , alt='InfoCovid' , class='lazyload' )
	p
		span ESTADISTICAS
		|CORONAVIRUS
	img.right( data-src='./imagenes/ilustracionHeaderRight-opt.png' , alt='InfoCovid' , class='lazyload' )

//- .ilustracionHeader
//- 	img.left( data-src='./imagenes/ilustracionHeaderLeft-opt.png' , alt='InfoCovid' , class='lazyload' )
//- 	span CORONAVIRUS DATA
//- 	img.right( data-src='./imagenes/ilustracionHeaderRight-opt.png' , alt='InfoCovid' , class='lazyload' )
