
.ilustracionHeader
	img.left( data-src='./imagenes/ilustracionHeaderLeft.png' class='lazyload' )
	span CORONAVIRUS DATA
	img.right( data-src='./imagenes/ilustracionHeaderRight.png' class='lazyload' )
