
.ilustracionHeader
	img.left( data-src='./imagenes/ilustracionHeaderLeft-opt.png' class='lazyload' )
	span CORONAVIRUS DATA
	img.right( data-src='./imagenes/ilustracionHeaderRight-opt.png' class='lazyload' )
