meta(http-equiv='Content-Type', content='text/html; charset=UTF-8' )
meta(http-equiv='Cache-control' , content='no-cache' )
meta(name='viewport', content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" )
meta(name='description' , content='Información & Graficos Sobre el Covid 19.')

link(rel='shortcut icon', href='https://www.infocovid19.cl/imagenes/favicon.ico')
link( rel='stylesheet' , href='./css/main.min.css' )

//- OG
meta(property='og:title', content='Información Covid 19')
meta(property='og:description', content='Información & Graficos Sobre el Covid 19')
meta(property='og:image', content='https://www.infocovid19.cl/imagenes/covid200x200.jpg')
meta(property='og:image:type' , content='image/jpeg' )
meta(property='og:image:width' , content='200' )
meta(property='og:image:height' , content='200' )
meta(property='og:image:alt' , content='Información & Graficos Sobre el Covid 19' )
meta(property='og:url', content='https://www.infocovid19.cl/')
meta(property='og:site_name', content='InfoCovid19')
meta(property='og:type', content='website')
meta(property='fb:app_id' , content='531023254236338')

//- TWITTER
meta(property='og:title', content='Información Covid 19')
meta(property='og:description', content='Información & Graficos Sobre el Covid 19')
meta(property='og:image', content='https://www.infocovid19.cl/imagenes/covid200x200.jpg')
meta(property='og:site' , content='@Paulombriz')
meta(property='og:creator' , content='@Paulombriz')
	
script(language='Javascript', type='text/javascript', src='./js//jquery-3.5.0.min.js' )
script(type='text/javascript' , src='./js/loader.min.js' )